body {font-family: Arial, Helvetica, sans-serif;height: 100%;width: 100%}

input[type=text], select, textarea {
   
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    width:100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.container-contact{
    border-radius: 5px;
    background-color:#00CED1;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2.5%;
    padding-top: 1%;
    margin-right: 40%;
    margin-left: 10%;
}
.box-input{

    margin-right:10%;
  
}
.box{
    width:70%;
    color: white;
    font-size: 18px;
}
.container-small{
    width:30%;
    height:50%;
    border-radius: 5px;
    background-color:white;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 2.5%;
    padding-top: 1%;
    margin-right: 10%; 
    margin-left: 50%;
    margin-top: -30%;
    box-shadow: 3px 3px 5px #888888;
    
}
#map {
        
    margin-top:10%;
    height: 400px;
    width: 100%;
       
}

.footer {
    background-color: #FF9999;
    padding: 10px;
    margin-bottom: 0px;


}