
.slideshow-container {
  max-width: 100%;
  z-index: 0;
}
.slide-image {
    max-width: 100%;
    height: 100%;
    position: relative;
}
.mySlides {

}

.prev, .next {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  /* margin: 0 2px; */
  background-color: #696464;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}
.dots{
    position: absolute;
    z-index: 1;
    margin-top:-20%;
    width: 100%;
    margin: auto;
    top:150%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 1px;

}

.active, .dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.search{
    position: absolute;
    z-index: 1;
    width:100%;
    height:100%;
    cursor: pointer;
    top: 30%;
    transition: 0.6s ease;

}

.search-opacity h1{
    font-weight: bold;
}

input[type=text] {
    width: 50%;;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/static/img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
   
}

.box-content{
    position: relative;
    margin:0 auto;
    margin-top:40px;
    z-index: 2;
    margin-bottom: 60px
    
}
div.gallery {
    z-index: 2;
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 430.5px;
    min-height: 120px;
    max-height: 300px;
    height: 300px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    background-repeat:   no-repeat;
    background-size:     cover;
}
div.image-frame {
    overflow: hidden;
    height: 240px;
    border: 1px solid  #ccc;
}
div.heart-icon {
    position: relative;
    margin-right:3%;
    margin-top: 3%;
    display:inline;
}
div.desc {
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.fa {
    font-size: 100px;
    cursor: pointer;
    float:right;
    color:gray;
    margin-right: 2%;
}
   