body{
    margin: 0;
    height: 100%;
}
#header {
    position: absolute;
    height: 100%;
    width: 100%;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: #333;
    opacity: 0.7;
    filter:alpha (opacity=70);
    z-index: 1;
}
.navbar-scrolled {
    position: fixed;
    width: 100%;
    opacity: 0.9;
    background-color: skyblue;
}

.navbar-scrolled a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-scrolled a:hover {
    background-color: #ddd;
    text-decoration: underline;
    color: black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    text-decoration: underline;
    color: black;
}

.navbar-content {
    margin-left: 30%;
}

.navbar-content a{
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.firstsection {
    margin-left: 3%;
    margin-right: auto;
}

.second-section {
    float: right;
}

.dropdown {
    overflow: hidden;
}
.dropbtn {
    padding: 18px 5.5px;
    margin-left: auto;
    margin-right: auto;
}
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}
.dropbtn:hover {
    background-color: #ddd;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: inherit;
}


.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ddd;
} 

.logo {
    float: left;
}
