$white:#ffffff;
$pink: #e40046;
$yellow:#f6f5ae;

body{
    background-color: #f3f3f3;
}

.animatedBtton{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    padding: 10px;
    border-radius: 5px;
    border:1px solid red;
    color: $pink;
    background-color: transparent;
    outline: 0;
    transform: translate(-50%,-50%);
    z-index:1;
    border:none;
    &::before{
        content: "";
        outline: 0;
        display: inline-block;
        position: absolute;
        height: 50%;
        width:50%;
        top:0%;
        bottom:0%;
        left: -100%;
        right: -100%;
        margin: auto;
        border: none;
        background-repeat: no-repeat;
        z-index: -2;
        background-image: 
        radial-gradient(circle,transparent 10%,$pink 25%,$yellow 20%,transparent 40%,transparent 40%),
        radial-gradient(circle,transparent 10%,$pink 25%,$yellow 20%,transparent 40%,transparent 40%),
        radial-gradient(circle,transparent 10%,$pink 25%,$yellow 20%,transparent 40%,transparent 40%),
        radial-gradient(circle,transparent 10%,$pink 25%,$yellow 20%,transparent 40%,transparent 40%),
        radial-gradient(circle,transparent 10%,$pink 25%,$yellow 20%,transparent 40%,transparent 40%);
        background-size:
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%;
        background-position: 
        50% 50%,
        50% 50%,
        50% 50%,
        50% 50%,
        50% 50%;
    }
    &:hover{
        cursor: pointer;
    }
}
    .animate{
        &::before{
            height:0;
            width:0;
            animation: animate 1.5s ease forwards;
        }
    }
    @keyframes animate{
        0%,100%{
            height: 0;
            width:0;
            background-position:
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%;
            background-size: 
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
        }
        20%,41%,89%{
            height: 150%;
            width:150%;
            background-size: 
            20% 20%,
            20% 20%,
            20% 20%,
            20% 20%,
            20% 20%;
        }
        40%{
            background-size: 
            10% 10%,
            10% 10%,
            10% 10%,
            10% 10%,
            10% 10%,
            10% 10%;
            background-position: 
            50% 0%,
            0% 35%,
            100% 35%,
            15% 100%,
            85% 100%;
        }
    }


