{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="topbutton.css"> <!-- ปุ่มลูกศรขึ้นบนเพจ-->
  <style>
      #mainpic{
    
      width: 50%;
      height: auto;
      margin-top: 5%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
      img{
      width: 40%;
      height: auto;
}
#pinpic {
    width: 9%;
  height: auto;
  }
    
  .mar {
  margin-right: 10%;
    margin-left: 10%;
}
p,h1,h3 {
    font-family: 'Kanit', sans-serif;
} 
.icon{
    width: 7%;
  height: auto;

}
.footer {
  background-color: rgba(26, 24, 25, 0.5);
   height: 50px; /* ความสูงของ footer */
   display: block;
   text-align: center;
} 
 
  </style>
  
{% endblock %}

{% block content %}
<div class="top"></div><!--id for on top-->
<div class="mar">
<center> 
  <h1>ที่เที่ยวหน้าฝน : 5 เมืองน่าเที่ยวช่วงกรีนซีซั่น สวยไม่หวั่น แม้วันเปียกปอน</h1> 
<img src="../static/img/greenseason/greenseason1.jpg" id="mainpic" >
</center><br><br><br><br><br>

<center>
    <img src="../static/img/icon number/1.png"id="pinpic">
  </center>

<div class="first">
  <h3>1. ปาย จ.แม่ฮ่องสอน</h3><p> ปาย เมืองท่องเที่ยวสุดโรแมนติกในจังหวัดแม่ฮ่องสอนที่ติดหูเรามาเนิ่นนาน การเที่ยวปายในหน้าฝน คือฤดูกาลท่องเที่ยวที่สวยงามที่สุด เพราะสายฝนที่ชุ่มฉ่ำจนกระทั่งจางหายระเหยเป็นไอจะทำให้ปายกลายเป็นเมืองในสายหมอกอย่างแท้จริง
  </p>
  <center>
  <img src="../static/img/greenseason/1.jpg" ><img src="../static/img/greenseason/2.jpg" id="first" style="margin-left: 5%;">
  </center>
</div>
<br><br>

<center>
    <br><br><br>
    <img src="../static/img/icon number/2.png"id="pinpic">
  </center>

<div class="second">
    <h3>2. ปัว จ.น่าน</h3><p>
    ปัว อำเภอเล็กๆกลางหุบเขาที่มีเสน่ห์อย่างบอกไม่ถูก พื้นที่ส่วนใหญ่เต็มไปด้วยทุ่งนาล้อมรอบ อากาศดี ผู้คนก็น่ารัก เหมาะสำหรับคนที่กำลังมองหาจังหวัดพักผ่อนสบายๆ ชิลๆ สัมผัสธรรมชาติ วิถีชีวิต บรรยากาศ และความเรียบง่ายของชาวบ้านในพื้นที่อย่างใกล้ชิด นักท่องเที่ยวที่มาปัวส่วนใหญ่จะชอบไปชมวิวที่ร้านกาแฟบ้านไทยลื้อและบนวัดภูเก็ตในตอนเช้า
  </p>
  <center>
  <img src="../static/img/greenseason/3.jpg" ><img src="../static/img/greenseason/4.jpg"  style="margin-left: 5%;">
  </center>
</div>
<br><br>

<center>
    <br><br><br>
      <img src="../static/img/icon number/3.png"id="pinpic">
    </center>

<div class="third">
    <h3>3. แม่แจ่ม จ.เชียงใหม่</h3><p>
      แม่แจ่มเป็นอำเภอเล็กๆ ที่โอบกอดโดยขุนเขา มีวัฒนธรรมที่งดงาม และวิถีชีวิตที่เรียบง่าย แม่แจ่มเป็นเมืองสงบและนิ่งไร้สารปรุงแต่งใดๆ มีธรรมชาติที่อุดมสมบูรณ์ วัดวาอารามเก่าแก่อันทรงคุณค่า และไฮไลท์ที่สำคัญทีจะอดพูดถึงไม่ได้นั้นคือหน้าขั้นบันไดที่บ้านป่าบงเปียง สถานที่ท่องเที่ยวยอดนิยมในช่วงฤดูฝน ส่วนมากนิยมมาพักค้างคืนที่โฮมสเตย์ในหมู่บ้าน ตื่นเช้ามารับอากาศบริสุทธ์ เหมาะสำหรับคนที่อยากใช้ชีวิตแบบช้าๆ ปั่นจักรยานข้างๆทุ่งนาเป็นที่สุด
    </p>
    <center>
    <img src="../static/img/greenseason/5.jpg" ><img src="../static/img/greenseason/6.jpg"  style="margin-left: 5%;">
    </center>
</div>
<br><br>

<center>
    <br><br><br>
      <img src="../static/img/icon number/4.png"id="pinpic">
    </center>
<div class="forth">
    <h3>4. จ.เพชรบูรณ์</h3><p>
      ที่นี่ถือได้ว่าเป็นที่ตั้งของผืนป่าและอุทยานแห่งชาติขนาดใหญ่หลายแห่งของประเทศไทย ทั้งทุ่งแสลงหลวง ทุ่งหญ้าสะวันนาเมืองไทย เขาค้อ ภูทับเบิก และภูหินร่องกล้า ที่คุณสามารถเห็นหมอกบางๆ บนยอดทุ่งหญ้าและเทือกเขาอยู่ไกลๆในยามเช้าของช่วงปลายฝนต้นหนาวได้ตลอดเส้นทางท่องเที่ยวตั้งแต่เดือนก.ค.ยาวนานไปจนถึงต.ค. เรียกว่ามองไปทางไหนก็มีแต่ทุ่งหญ้าและต้นไม้สีเขียวขจีแสนสบายสุดสายตา
    </p>
    <center>
    <img src="../static/img/greenseason/7.jpg" ><img src="../static/img/greenseason/8.jpg"  style="margin-left: 5%;">
    </center>
</div>
<br><br>

<center>
    <br><br><br>
      <img src="../static/img/icon number/5.png"id="pinpic">
    </center>
<div class="fifth">
    <h3>5. แก่งกระจาน จ.เพชรบุรี</h3><p>
      บนยอดเขาพะเนินทุ่ง อุทยานแห่งชาติแก่งกระจาน จังหวัดเพชรบุรี สถานที่ชมทะเลหมอกใกล้กรุงฯที่ไม่ว่าจะหน้าไหนฤดูอะไรก็ดูสวยและน่าเที่ยวอยู่เสมอ คุณจะได้เห็นทะเลหมอกที่มีให้ชมตลอดทั้งปี ไม่ว่าจะเป็นช่วงฤดูร้อน หรือฤดูฝนที่ทะเลหมอกจะทั้วหนาและชุ่มฉ่ำมากเป็นพิเศษ
    </p>
    <center>
    <img src="../static/img/greenseason/9.jpg" ><img src="../static/img/greenseason/10.jpg"  style="margin-left: 5%;">
    </center>
</div>
<br><br>
</div>
<!-- footer tag-->
<div class="footer">

  <!-- Back-to-top Button-->
  <a href="#top" class="cd-top"><img src="../static/img/icons8-slide-up-100.png" style="width:50px;height:50px;margin-right:5%;" align="Right" ></a>
  <script>
      jQuery(document).ready(function($){
     
      var offset = 300,
       
          offset_opacity = 1200,
         
          scroll_top_duration = 700,
      
          $back_to_top = $('.cd-top');
  
     
      $(window).scroll(function(){
          ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
          if( $(this).scrollTop() > offset_opacity ) {
              $back_to_top.addClass('cd-fade-out');
          }
      });
  
       //smooth scroll to top
    $back_to_top.on('click', function(event){
        event.preventDefault();
        $('body,html').animate({
            scrollTop: 0 ,
             }, scroll_top_duration
        );
    });

});
  </script><!-- End Back-to-top Button-->
  
  
  </div><!--end footer tag-->             

{% endblock %}