{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
      #mainpic{
    
      width: 50%;
      height: auto;
      margin-top: 5%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
      img{
      width: 40%;
      height: auto;
    
      }

  </style>
  
{% endblock %}

{% block content %}
<center> 
  <h1>5 จุดเช็คอินหน้าฝน กินเที่ยวแบบชุ่มฉ่ำ ชิลได้แม้ในวันฝนพรำ</h1> 
  <img src="../static/img/rain/rain.jpg" >
</center><br>

<div class="first">
  <p>1. จิบกาแฟ ชมงานคราฟต์ ที่ Blue Dye Café ทองหล่อ<br> 
  ไม่ใช่แค่เป็นย่านเก๋ๆ และสวรรค์ของนักท่องราตรี แต่ละแวกแถวทองหล่อยังมีคาเฟ่เท่ๆ ที่มีงานศิลปะสุดเจ๋งซ่อนตัวอยู่นั่นคือ “Blue Dye Café” คาเฟ่หลังเล็กใจกลางซอยสุขุมวิท 36 มานั่งละเลียดจิบกาแฟในบรรยากาศบ้านสีขาวหลังเล็กแสนสงบล้อมรอบไปด้วยกระจกใส
  </p>
  <center>
  <img src="../static/img/rain/1.jpg" ><img src="../static/img/rain/2.jpg" id="first" style="margin-left: 5%;">
  </center>
</div>
<br><br>

<div class="second">
  <p>2. ท่องโลกแห่งเทพนิยายเช้าจรดค่ำที่ Into the Woods<br>
   ที่นี่เป็นเหมือนกับโอเอซิสสำหรับคนที่อยากหลบความวุ่นวายของกรุงเทพฯ ทิ้งโลกแห่งความเป็นจริงชั่วคราวแล้วก้าวเท้าเข้าสู่ดินแดนโลกแห่งเทพนิยายกับ “Into the Woods” คาเฟ่แห่งจินตนาการที่ซ่อนกิมมิคตัวละครในเทพนิยายไว้ในการตกแต่งได้อย่างน่าค้นหา
  </p>
  <center>
  <img src="../static/img/rain/3.jpg" ><img src="../static/img/rain/4.jpg"  style="margin-left: 5%;">
  </center>
</div>
<br><br>

<div class="third">
    <p>3. ดื่มด่ำกับสายฝนสีชมพูสุดโรแมนติกที่ Pinkplanter<br>
      “Pinkplanter” คาเฟ่น่ารักที่มีทั้งมุมถ่ายรูป รวมถึงขนมหน้าตาน่ากินทั้งนั้น รับรองว่าสาวๆ ต้องถูกใจแน่นอนที่สำคัญทำเลที่ตั้งของร้านยังอยู่ใจกลางย่านสยามสแควร์
    </p>
    <center>
    <img src="../static/img/rain/5.jpg" ><img src="../static/img/rain/6.jpg"  style="margin-left: 5%;">
    </center>
</div>
<br><br>

<div class="forth">
    <p>4. พักผ่อนในบ้านกลางน้ำที่ The RAFT Kanchanaburi<br>
      พักผ่อนชิลๆ ในบ้านกลางน้ำที่ The RAFT Kanchanaburi ที่พักสไตล์บ้านพักแพกลางน้ำแบบส่วนตัว ท่ามกลางบรรยากาศธรรมชาติของเขื่อนศรีนครินทร์สามารถตื่นมาชมวิวได้แบบพาโนราม่า หรือจะโดดเล่นน้ำจากหน้าห้องพักก็ได้เลย ก่อนตกค่ำจะปาร์ตี้บาร์บีคิวชิลๆกันท่ามกลางบรรยากาศของฝนปรอยๆ โดยมีสายน้ำและขุนเขาที่ล้อมรอบสุดสายตา
    </p>
    <center>
    <img src="../static/img/rain/7.jpg" ><img src="../static/img/rain/8.jpg"  style="margin-left: 5%;">
    </center>
</div>
<br><br>

<div class="fifth">
    <p>5. นอนชิลริมแม่น้ำแควที่ริเวอร์แคววิลเลจ กาญจนบุรี<br>
      นอกจากจะมีห้องพักให้เลือกหลากหลาย ทั้งแพริมน้ำ ห้องพักวิวภูเขาบนตึก ฯลฯ ยังมีกิจกรรมแอดเวนเจอร์มันส์ๆ ทั้งปีนหน้าผาจำลอง ล่องแพเปียก ขี่รถตีนตะขาบ DTV เข้ากับบรรยากาศลุยๆ ช่วงหน้าฝนแบบนี้
    </p>
    <center>
    <img src="../static/img/rain/9.jpg" ><img src="../static/img/rain/10.jpg"  style="margin-left: 5%;">
    </center>
</div>
<br><br>
{% endblock %}