{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
  #mainpic{

  width: 50%;
  height: auto;
  margin-top: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  img{
  width: 40%;
  height: auto;

  }
  
 
 
  
  </style>
{% endblock %}

{% block content %}
<center>
  <h1>10 เกาะน่าเที่ยวช่วงซัมเมอร์</h1>
<img src="../static/img/summer/1.jpg" id="mainpic" >
</center><br>

<div class="first">
<p>1.หมู่เกาะทะเลชุมพร<br>แหล่งท่องเที่ยวทางทะเลที่โดดเด่นมากอีกแห่งหนึ่ง มีเกาะเรียงรายมากกว่า 40 เกาะ ซึ่งเกาะที่นิยมไปเที่ยวกัน เช่น เกาะง่ามใหญ่ เกาะง่ามน้อยและเกาะทะลุ เหมาะสำหรับการดำน้ำ ทั้งน้ำตื้นและน้ำลึก เพราะเป็นจุดดำน้ำที่คงความสมบูรณ์ของทรัพยากรทางทะเล และฝูงปลานานาชนิด
</p>
<center>
<img src="../static/img/summer/8.jpg" ><img src="../static/img/summer/9.jpg" id="first" style="margin-left: 5%;">
</center>
</div>
<br><br>

<div class="second">
    <p>2.เกาะนางยวน<br>
      เกาะที่มีเกาะเล็ก ๆ 3 เกาะเชื่อมกัน สงบ สามารถเห็นหาดทรายเชื่อมกันเวลาที่น้ำลง เป็นเกาะที่มีหาดทรายเนื้อละเอียดขาว
       น้ำทะเลใส น่านั่งเล่นและพักผ่อนสำหรับผู้ที่นิยมความสงบ เป็นเกาะที่มีปะการังน้ำตื้นและน้ำลึกที่ยังสมบูรณ์และสวยงาม บนเกาะยังมีจุดชมวิวที่สามารถจะมองหาดทรายสามหาดเชื่อมต่อกันได้อย่างสวยงาม 
      สามารถไปเที่ยวเกาะนางยวนได้ตลอดทั้งปี แต่ช่วงที่เหมาะสมที่สุดน่าจะเป็นช่วงกุมภาพันธ์ - เมษายน
    </p>
    <center>
    <img src="../static/img/summer/16.jpg" ><img src="../static/img/summer/17.jpg"  style="margin-left: 5%;">
    </center>
    </div>
    <br><br>
<div class="third">
        <p>3.เกาะไม้ท่อน<br>
          นับเป็นอีกหนึ่งเกาะที่ซัมเมอร์นี้ไม่ควรพลาด ด้วยความที่เป็นเกาะเล็กๆ ที่เงียบสงบบนฝั่งอันดามัน 
          ที่ได้รับสมญานามว่า มัลดีฟเมืองไทย ซึ่งหาดทรายขาว น้ำทะเลใสจนสามารถมองเห็นฝูงปลาสวยงามหลายชนิด
           และด้วยความที่เป็นเกาะส่วนตัวจึงทำให้มีนักท่องเที่ยวไปเยือนเกาะนี้ได้น้อย ทำให้ธรรมชาติของเกาะไม้ท่อนยังสวยงามอุดมสมบูรณ์มาก สามารถเที่ยวได้ตลอดทั้งปี ไม่มีปิดเกาะ

        <center>
        <img src="../static/img/summer/20.jpg" ><img src="../static/img/summer/22.jpg" style="margin-left: 5%;">
        </center>
        </div>
        <br><br>
<div class="fourth">
        <p>4.เกาะรอกลอย อุทยานแห่งชาติตะรุเตา<br>
          จุดเด่นของเกาะรอกลอยคือหาดทรายที่ขาวสะอาดมีลักษณะเป็นแหลมสามเหลี่ยมยื่นออกไปในทะเล นับเป็นทะเลที่เงียบสงบ น้ำทะเลใส หาดทรายขาว และมีความใกล้ชิดธรรมชาติ เหมาะกับการเล่นน้ำ ถ่ายภาพ เดินเล่นริมชายหาด หรือจะนั่งเรือชมความงามของท้องทะเล 
           เปิดตั้งแต่เดือนพฤศจิกายน - เดือนพฤษภาคมของทุกปี
        </p>
        <center>
        <img src="../static/img/summer/24.jpg" ><img src="../static/img/summer/25.jpg" style="margin-left: 5%;">
        </center>
        </div>
        <br><br>
<div class="fifth">
            <p>5.เกาะเต่า<br>
              นับเป็นเกาะแห่งทะเลฝั่งอ่าวไทยที่มีโลกใต้น้ำที่สวยที่สุด มีชายหาดที่สวยงาม 
              น้ำทะเลใส สะอาด มีแนวปะการังยาวถึง 8 กิโลเมตร เหมาะแก่ทั้งการดำน้ำตื้นและการดำน้ำลึก
               ช่วงเวลาที่เหมาะที่สุดสำหรับท่องเที่ยวเกาะเต่า คือ เดือนกุมภาพันธ์-เมษายน 

            </p>
            <center>
            <img src="../static/img/summer/28.jpg" ><img src="../static/img/summer/27.jpg" style="margin-left: 5%;">
            </center>
            </div>
            <br><br>
<div class="sixth">
        <p>6.เกาะกูด<br>
          เกาะที่อยู่สุดท้ายในน่านน้ำทะเลตราด และใหญ่เป็นอันดับสองรองจากเกาะช้างในจังหวัดตราด มีความเป็นธรรมชาติอย่างสมบูรณ์ โดยมีภูเขาและที่ราบสันเขาซึ่งเป็นต้นกำเนิด 
          ลำธาร น้ำตก และมีชายหาดที่มีหาดทรายสวยงามและน้ำทะเลใส  
        <center>
        <img src="../static/img/summer/29.jpg" ><img src="../static/img/summer/31.jpg" style="margin-left: 5%;">
        </center>
        </div>
        <br><br>
  <div class="seventh">
            <p>7.เกาะห้อง <br>
              เกาะห้อง หรือเรียกอีกชื่อหนึ่งว่า เกาะเหลาบิเละ เป็นเกาะเล็ก ๆ 
              ที่มีทัศนียภาพสวยงามมาก ล้อมรอบด้วยน้ำทะเลสีคราม มีกัลปังหาและปะการังรอบเกาะ 
              มีเวิ้งหาดสองหาดติดกั้น โดนกั้นด้วยโขดหินตรงกลาง ลักษณะโดยทั่วไปเป็นเขาหินปูน น้ำทะเลใส 
              หาดทรายขาว มีแนวปะการังทั้งน้ำตื้นและน้ำลึกเหมาะแก่การดำน้ำและตกปลา สามารถท่องเที่ยวได้ช่วงกลางเดือน พ.ย. – ต้นเดือน
               พ.ค.

            </p>
            <center>
            <img src="../static/img/summer/32.jpg" ><img src="../static/img/summer/33.jpg" style="margin-left: 5%;">
            </center>
            </div>
            <br><br>
    <div class="eight">
        <p>8.เกาะแสมสาร <br>
          เริ่มต้นกันที่ “เกาะแสมสาร” เกาะใกล้ๆ กรุงเทพฯที่กำลังได้รับความนิยมอย่างมากในตอนนี้ ด้วยความที่ทะเลสวย น้ำใส มีให้เลือกเที่ยวถึง 5 ชายหาด แต่มีชายหาดที่สามารถเล่นน้ำและดำน้ำได้ 2 ชายหาด  
          คือหาดเทียน และหาดลูกลม นอกจากนี้ยังมีกิจกรรมดำน้ำดูปะการังและอื่นๆ อีกมากมาย
        </p>
        <center>
        <img src="../static/img/summer/2.jpg" ><img src="../static/img/summer/4.jpg" style="margin-left: 5%;">
        </center>
        </div>
        <br><br>

        <div class="nineth">
            <p>9. อ่าวมาหยา หมู่เกาะพีพี<br>
              นี่คือที่สุดแห่งความลงตัวของอ่าวมาหยา ความสวยงามที่ซ่อนอยู่ในเกาะพีพี เพราะความงามที่โอบล้อมด้วยเขาหินปูนจนเกือบเป็นทะเลปิด ที่นี่จึงเป็นเสมือนอ่าวส่วนตัวที่ได้รับความนิยมจากนักท่องเที่ยวจำนวนมาก รวมถึงเป็นสถานที่ประกอบการถ่ายทำภาพยนตร์เรื่องเดอะบีช  
              ช่วงเวลาที่จะมาเที่ยวอยู่ที่เดือน กุมภาพันธ์ - เมษายน
            </p>
            <center>
            <img src="../static/img/summer/6.jpg" ><img src="../static/img/summer/7.jpg" style="margin-left: 5%;">
            </center>
            </div>
            <br><br>


          <div class="ten">
                <p>10. อุทยานแห่งชาติหมู่เกาะสิมิลัน<br>
                  หมู่เกาะเล็กๆ ในทะเลอันดามัน มีทั้งหมด 9 เกาะได้แก่ เกาะบอน เกาะบางู เกาะสิมิลัน เกาะปายู เกาะห้า เกาะเมียง เกาะปาหยัน เกาะปายัง และเกาะหูยง ซึ่งได้รับการยกย่องจากนิตยสารสกินไดวิ่งของอเมริกา ว่าเป็นหมู่เกาะที่มีความงามทั้งบนบกและใต้น้ำ เป็น 1 ใน 10 ของโลก มีปะการังที่สวยงามหลายชนิด 
                  สามารถดำน้ำ ได้ทั้งน้ำตื้นและน้ำลึก สามารถท่องเที่ยวได้ในช่วงเดือนพฤศจิกายน-เดือนกลางเดือนพฤษภาคม
                </p>
                <center>
                <img src="../static/img/summer/12.jpg" ><img src="../static/img/summer/13.jpg" style="margin-left: 5%;">
                </center>
                </div>
                <br><br>
{% endblock %}
