{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
  <style>

.pinpic {
    width: 9%;
  height: auto;
  } 

  </style>
  
{% endblock %}


{% block content %}

<div class="mar">
<center> 
  <h1>ที่เที่ยวทะเลหน้าฝน : 5 ทะเลหน้าฝนเที่ยวได้แบบไม่ต้องแคร์เขา</h1> 
  <img src="../static/img/seanomountain/seanomountain.jpg" id="mainpic" >
</center><br><br><br><br><br>

<center>
    <img src="../static/img/icon number/1.png"class="pinpic">
</center>


<div class="first">
  <h3>1. เกาะเสม็ด - ระยอง</h3><p>
  เกาะเสม็ด เป็นอีกหนึ่งเกาะที่สามารถไปเที่ยวกันได้เกือบตลอดทั้งปี นอกจากนี้บนเกาะเสม็ดยังเพียบพร้อมละครบครันไปด้วยการบริการที่สะดวกสบายมีชายหาดหลายหาดให้เราได้เลือกพักผ่อนกับแบบชิลๆ ถ้าอยากท่องเที่ยวแบบคึกคักก็ต้องไม่พลาดที่เลือกที่พักในย่านหาดทรายแก้ว
  </p>
  <center>
  <img src="../static/img/seanomountain/1.jpg"class="viewpic" >
  <img src="../static/img/seanomountain/2.jpg" class="viewpic" id="first" style="margin-left: 5%;">
  </center>
</div>
<br><br>

<center>
    <br><br><br>
    <img src="../static/img/icon number/2.png"class="pinpic">
  </center>

<div class="second">
    <h3>2. เกาะช้าง - ตราด</h3><p>
   เกาะช้าง เป็นเกาะที่ใหญ่ที่สุดในฝั่งอ่าวไทย เกาะนี้จึงมีสถานที่ท่องเที่ยวที่หลากหลายไม่ว่าจะเป็นทะเลภูเขา น้ำตก และแนววิถีชีวิต
  </p>
  <center>
  <img src="../static/img/seanomountain/3.jpg" class="viewpic">
  <img src="../static/img/seanomountain/4.jpg" class="viewpic" style="margin-left: 5%;">
  </center>
</div>
<br><br>


<center>
    <br><br><br>
      <img src="../static/img/icon number/3.png"class="pinpic">
    </center>

<div class="third">
    <h3>3. เกาะกูด - ตราด</h3><p>
      เกาะกูดยังมีที่พักบรรยากาศดีทั้งแบบเลียบริมทะเล เลียบริมคลองให้คุณได้เลือกพักตามชอบ หรือถ้าใครอยากไปหาที่หลายรูปเกาะนี้ก็ยิ่งเหมาะเพราะเขามีสะพานไม้ยื่นลงทะเลให้คุณได้โพสท่ากันแบบไม่ต้องกลัวมุมซ้ำอย่างแน่นอน
    <center>
    <img src="../static/img/seanomountain/5.jpg" class="viewpic">
    <img src="../static/img/seanomountain/6.jpg" class="viewpic" style="margin-left: 5%;">
    </center>
</div>
<br><br>

<center>
    <br><br><br>
      <img src="../static/img/icon number/4.png"class="pinpic">
    </center>

<div class="forth">
    <h3></h3><p>4. เกาะนางยวน - สุราษฎร์ธานี<br>
      เกาะนางยวน เกาะเล็กๆ ที่มีเกาะเชื่อมกันสามเกาะ และไฮไลท์ของที่นี่คือต้องไม่พลาดไปชมวิวจากมุมสูงที่สามารถมองเห็นทั้งเกาะเชื่อมต่อกันได้อย่างสวยงาม
    </p>
    <center>
    <img src="../static/img/seanomountain/7.jpg" class="viewpic">
    <img src="../static/img/seanomountain/8.jpg" class="viewpic" style="margin-left: 5%;">
    </center>
</div>
<br><br>

<center>
    <br><br><br>
      <img src="../static/img/icon number/5.png"class="pinpic">
    </center>
<div class="fifth">
    <h3></h3><p>5. เกาะเต่า - สุราษฎร์ธานี<br>
      เกาะเต่า เกาะเมล็ดถั่วที่มีชื่อเสียง เป็นแหล่งดำน้ำตื้นและดำน้ำลึกที่ชาวต่างชาติจากทั่วโลกให้นิยมอย่างมากและนอกจากความสวยงานของโลกใต้น้ำแล้ว เกาะเต่ายังเป็นเกาะที่มีสถานที่ท่องเที่ยวที่คึกคัก บนเกาะมีบาร์ ร้านอาหารและกิจกรรมอื่นๆ ให้ทำอย่างมากมาย
    </p>
    <center>
    <img src="../static/img/seanomountain/9.jpg" class="viewpic">
    <img src="../static/img/seanomountain/10.jpg"class="viewpic"  style="margin-left: 5%;">
    </center>
</div>
<br><br>
</div>

{% endblock %}