{% extends "nav.html" %}
{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/contact.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
{% endblock %}


{% block content %}


<div ></div>
<div class="container-contact">
    <div class="box-input">
      <form method="POST">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p style="color:green; font-size:smaller; font-weight: bold;">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% if error %}
            <p style="color:red; font-size:smaller; font-weight: bold;">{{ error }}</p>
          {% endif %}
        <div class="box">
          <label for="fname"><h2>Send Us your Feedback</h2></label>
        </div>

        <div class="box">
          <input type="text" id="fname" name="name" placeholder=Name>
        </div>

        <div class="box">
          <input type="text" id="lname" name="email" placeholder=Email>
        </div>

        <div class="box">
          <textarea id="subject" name="message" placeholder=Message style="height:200px"></textarea>
        </div>

        <div class="box">
          <input type="submit" value="Send">
        </div>
       
      </form>
    </div>

</div>

  
<div class="container-small">
  <h2>Contact form</h2>
    <p><img style="width: 7%" src="../static/img/phone.png"> 088-8343220 </p>
    <hr>
    <p><img src="../static/img/facebook.png"  > Chanikan Rujimetineekul </p>
    <hr >
    <p><img src="../static/img/envelope.png"> 57010248@kmitl.ac.th</p>
    <hr>
    <p><img src="../static/img/placeholder.png">King Mongkut's Institute of 
      Technology Ladkrabang.
      Chalongkrung Rd. Ladkrabang</p>
</div>


<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDSV4c25Mwxz8Gw0z_gQGr1Y6BgAkvAcVQ'></script>
<div style='height:200px;width:100%;margin-top:80px;'>
  <div id='gmap_canvas' style='height:510px;width:100%;'></div>
</div> 
<a href='https://embed-map.org/'>embed-Map.org</a>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=4d44d9ad7bbbe941deb52265e9c769052916c4bd'></script>
<script type='text/javascript'>function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(13.727005353711396,100.77637185909964),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(13.727005353711396,100.77637185909964)});infowindow = new google.maps.InfoWindow({content:'<strong>KMITL</strong><br><br> <br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

{% endblock %}
