<!DOCTYPE html>
<html>
<head>
<title>CONTACT ME</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/contact.css">

<style>
  .footer {
  background-color: rgba(26, 24, 25, 0.5);
   height: 50px; /* ความสูงของ footer */
   display: block;
   text-align: center;
}
</style>
</head>
<body>


<div ></div>
<div class="container-contact">
    <div class="box-input">
      <form method="POST">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p style="color:green; font-size:smaller; font-weight: bold;">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% if error %}
            <p style="color:red; font-size:smaller; font-weight: bold;">{{ error }}</p>
          {% endif %}
        <div class="box">
          <label for="fname"><h2>Send Us your Feedback</h2></label>
        </div>

        <div class="box">
          <input type="text" id="fname" name="name" placeholder=Name>
        </div>

        <div class="box">
          <input type="text" id="lname" name="email" placeholder=Email>
        </div>

        <div class="box">
          <textarea id="subject" name="message" placeholder=Message style="height:200px"></textarea>
        </div>

        <div class="box">
          <input type="submit" value="Send">
        </div>
       
      </form>
    </div>

</div>

  
<div class="container-small">
  <h2>Contact form</h2>
    <p><img style="width: 7%" src="../static/img/phone.png"> 088-8343220 </p>
    <hr>
    <p><img src="../static/img/facebook.png"  > Chanikan Rujimetineekul </p>
    <hr >
    <p><img src="../static/img/envelope.png"> 57010248@kmitl.ac.th</p>
    <hr>
    <p><img src="../static/img/placeholder.png">King Mongkut's Institute of 
      Technology Ladkrabang.
      Chalongkrung Rd. Ladkrabang</p>
</div>


<div id="map"></div>
<script>
  function initMap() {
    var uluru = {lat:13.727839, lng: 100.772424};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3_hf_c_rNvzyl8AYvQY13sEntAiL0UBw &callback=initMap">
</script>




<!-- footer tag-->
<div class="footer">


  
  
  </div><!--end footer tag-->
  

</body>
</html>
