{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  .head{
    width: 98%;
    background-color: rgba(56, 221, 139, 0.356);
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
  }
  .content{
    width: 96%;
    background-color: rgba(56, 221, 139, 0.534);
    border-radius: 15px;
    margin-left: 1%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    
  }
  .world{
    margin-top: 2%;
    position:absolute;
    margin-left: 5%;
  }
  </style>
{% endblock %}


{% block content %}
<center>
<img src="../static/img/world.png" class="world"> 
<br><br>
<div class="head">
<h1>{{topic}}    </h1>

</div>

<div  >
  <div>
    <p>วันที่ไป : {{godate}} ถึง {{backdate}}&nbsp;&nbsp;&nbsp;&nbsp;      <img src="../static/img/calendar.png">    </p>
    <p>งบที่ใช้ : {{money}} &nbsp;&nbsp;&nbsp;  <img src="../static/img/money.png"></p>
  </div>
 </div>   
    
  <br>
</center>
  <div class="content">
  <p>{{detail}}<p>
    </div>



{% endblock %}