{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}


<div class="slideshow-container">
  <div class="slide-image">
    <div class="mySlides fade">
      <img src="../static/img/slide1.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="../static/img/slide2.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="../static/img/slide3.jpg" style="width:100%">
    </div>
  </div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

<div class="search">
  <center>
    <h1 style="color: white">อยากไปเที่ยวไหน ?</h1>
  <center>
  <form>
    <input type="text" name="search" placeholder="Search..">
  </form>
</div>      

<div class="dots">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>


<div class="box-content">
  <h1>บล็อกยอดนิยม</h1>
  <div class="gallery">
    <div class="image-frame">
      <a  href="blog1.html">
        <img src="../static/img/summer/1.jpg" alt="Fjords">
      </a>
    </div>
    <div class="heart-icon">
      <div class="desc">10 เกาะน่าเที่ยวช่วงซัมเมอร์
          <i  onclick="myfunction(1)" class="fa fa-heart"  ></i>
      </div>
    </div>
  </div>

  <div class="gallery">
    <div class="image-frame">
      <a  href="blog2.html">
        <img src="../static/img/greenseason/greenseason1.jpg" alt="Forest" >
      </a>
    </div>
    <div class="heart-icon">
      <div class="desc"> 5 เมืองน่าเที่ยวช่วงกรีนซีซั่น สวยไม่หวั่น แม้วันเปียกปอน
        <i  onclick="myfunction(2)" class="fa fa-heart"  ></i>
      </div>
    </div>
  </div>

  <div class="gallery">
    <div class="image-frame">
      <a  href="blog3.html"> 
        <img src="../static/img/blog3/1.jpg" alt="Northern Lights">
      </a>
    </div>
    <div class="heart-icon">
      <div class="desc">10 ที่เที่ยวหน้าหนาวยอดฮิตของภาคเหนือ...ที่ไปแล้วจะหนาว
        <i  onclick="myfunction(3)" class="fa fa-heart"  ></i>
      </div>
    </div>
  </div>

  <div class="gallery">
    <div class="image-frame">
      <a  href="blog4.html">
        <img src="../static/img/rain/rain.jpg" alt="Northern Lights">
      </a>
    </div>
    <div class="heart-icon">
      <div class="desc">5 จุดเช็คอินหน้าฝน กินเที่ยวแบบชุ่มฉ่ำ ชิลได้แม้ในวันฝนพรำ
        <i  onclick="myfunction(4)" class="fa fa-heart"  ></i>
      </div>
    </div>
  </div>

  <div class="gallery">
    <div class="image-frame">
      <a href="blog5.html">
        <img src="../static/img/seanomountain/seanomountain.jpg" alt="Northern Lights">
      </a>
    </div>
    <div class="heart-icon">
      <div class="desc">5 ทะเลหน้าฝนเที่ยวได้แบบไม่ต้องแคร์เขา
        <i  onclick="myfunction(5)" class="fa fa-heart"  ></i>
      </div>
    </div>
  </div>

  <div class="gallery">
    <div class="image-frame">
      <a  href="blog6.html">
        <img src="../static/img/blog6/1.jpg" alt="Northern Lights">
      </a>
    </div>
    <div class="heart-icon">
      <div class="desc">10 ที่เที่ยวในลาวที่ไม่ควรพลาด ตั้งแต่เหนือจรดใต้
        <i  onclick="myfunction(6)" class="fa fa-heart"  ></i>
      </div>
    </div>
  </div>
</div>

<script src="../static/js/index.js"></script>
{% endblock %}