{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
 

  <style type="text/css">
        * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-top: -10%;
  z-index: -1;
  
  
}

/* Hide the images by default */
/* .mySlides {
    display: none;
} */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
 
  
  /* margin: 0 2px; */
  background-color: #696464;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}
.dots{
margin-top: 28%;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1} 
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

div.gallery {
    margin: 30px;
    margin-left: 7%;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

p{
    font-family: 'Kanit', sans-serif;
}

 

  </style>
{% endblock %}
{% block content %}



<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
   
    <img src="../static/img/slide1.jpg" style="width:100%">
    
  </div>

  <div class="mySlides fade">
    <img src="../static/img/slide2.jpg" style="width:100%">
    
  </div>

  <div class="mySlides fade">
    
    <img src="../static/img/slide3.jpg" style="width:100%">
    
  </div>

  

</div>
<!-- Next and previous buttons -->
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

<div class="search">
    <center>
    <h1>อยากไปเที่ยวไหน ?</h1><center>
        <form>
            <input type="text" name="search" placeholder="Search..">
          </form>
</div>      
<!-- The dots/circles -->
<div class="dots" style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
<script src="../static/js/slide.js"></script> 

  
<div class="box-content">

    <div class="gallery">
        <a target="_blank" href="../static/img/summer/1.jpg">
          <img src="../static/img/summer/1.jpg" alt="Fjords" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
      <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
      <div class="gallery">
        <a target="_blank" href="../static/img/summer/1.jpg">
          <img src="../static/img/summer/1.jpg" alt="Forest" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="../static/img/summer/1.jpg">
          <img src="../static/img/summer/1.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="../static/img/summer/1.jpg">
          <img src="../static/img/summer/1.jpg" alt="Mountains" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="gallery">
          <a target="_blank" href="../static/img/summer/1.jpg">
            <img src="../static/img/summer/1.jpg" alt="Mountains" width="300" height="200">
          </a>
          <div class="desc">Add a description of the image here</div>
      </div>
      <div class="gallery">
          <a target="_blank" href="../static/img/summer/1.jpg">
            <img src="../static/img/summer/1.jpg" alt="Mountains" width="300" height="200">
          </a>
          <div class="desc">Add a description of the image here</div>
      </div>

 



</div>




{% endblock %}