
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    
<link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">



    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
        <div class="navbar" id="navbar"><ul>
          <div class="logo" >
            <li><a class="index" href="index.html"><img src="../static/img/logoOn.png" style="width: 20%;" ></a></li>
          </div>
          <div class="navbar-content">
            <div class="firstsection">
            <li><a class="#active" href="#home">Review</a></li>
            <li><a href="#news">Event</a></li>
            {% if username %}
            <li><a href="{{ url_for('user_review') }}" >UserReview</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}" onclick="return Confirmlogin()" >UserReview</a></li>
            {% endif %}
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#aboudft">About</a></li>
            {% if username %}
            <li><a href="{{ url_for('logout') }}" onclick="return Confirm()">Log out</a></li>
            <p>Hello!, {{ username }}</p>
            </div>
                         
            {% else %}
            
            
            <div class="dropdown">
              <li>
                <button class="dropbtn"><img src="../static/img/avatar.png" style="width: 50%;" >  
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="login.html">Login</a>
                    <a href="register.html">Register</a>
                  </div>
              </li>
              <!-- <li>
                <a href="#login"></a>
              </li> -->
            </div>
            {% endif %}
          </div>
        </ul>
      </div>
      
        {% endblock %}
      </div>
      <div id="content">{% block content %}{% endblock %}</div>
      
      <script>
        // When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
        function Confirm(){
          if (!confirm("Are you sure?")){
            return false
          }
        }
        function Confirmlogin(){
          if (!confirm("Please Login")){
            return false
          }
        }
      </script>
</body>
</html>
