
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">  
    {% endblock %}
</head>
<body>
  <div id="header">
    {% block header %}
    <div class="navbar" id="navbar">
        <div class="logo" >
          <a href="index.html"><img src="../static/img/logoOn2.png" style="width: 83%"></a>
        </div>
        <div class="navbar-content">
          <div class="firstsection">
            <a class="#active" href="review.html">Review</a>
            <a href="event1.html">Event</a>
            {% if username %}
            <a href="{{ url_for('user_review') }}">User Review</a>
            {% else %}
            <a href="{{ url_for('login') }}" onclick="return Confirmlogin()" >User Review</a>
            {% endif %}
            <a href="contact.html">Contact</a>
            {% if username %}
            <a href="{{ url_for('logout') }}" onclick="return ConfirmLogOut()">Log out</a>
          </div>
          <div class="second-section">
            <p>Hello!, {{ username }}</p>
          </div>
          {% else %}
          
          <div class="second-section">
            <div class="dropdown">
                <button class="dropbtn"><img src="../static/img/avatar.png" style="width: 40%;" >  
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="login.html">Login</a>
                  <a href="register.html">Register</a>
                </div>
            </div>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>

  <button onclick="topFunction()" id="myButtontop" title="Go to top">Top</button>

  {% block content %}
    <!-- index -->
  {% endblock %}

  <div class="footer">
      <p>"On My Way | Copyright &copy;  2018 By Chanikan Rujimetineekul, Jidapa Dumrongsombat, Kamolwan Kladjed</p>
  </div>

  <script>
    function ConfirmLogOut(){
      if (!confirm("Are you sure?")){
        return false
      }
    }

    function Confirmlogin(){
      if (!confirm("Please Login")){
        return false
      }
    }

// from top button
  var nav = document.getElementById("navbar");
  window.onscroll = function() {scrollbtn()};
  function scrollbtn() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myButtontop").style.display = "block";
          nav.className = "navbar-scrolled"; 
      } else {
          document.getElementById("myButtontop").style.display = "none";
          nav.className = "navbar";
      }
  }
  

  function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
      document.getElementById("myButtontop").style.display = "none"; 
  }

  </script>
</body>
</html>
