{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/review.css">

  <style>
  
  </style>

  {% endblock %}

{% block content %}


<div class="first"> 
  <center>
    <h1>"ล่องแพเขื่อนกิ่วลม" <br>สัมผัสกับความชิลที่มีอยู่จริงบนผืนน้ำจังหวัดลำปาง <br>By Peeranut P.</h1>
    <img src="../static/img/review2/1.jpg" id="mainpic" ><br><br><br>

  </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ลำปางหนาวมาก ใช่ครับในช่วงหน้าหนาวนั้นลำปางหนาวมากจริงๆ แต่ถ้าในช่วงหน้าร้อนแบบนี้ลำปางก็ร้อนไปด้วยเหมือนกัน 
    แต่ถ้าหากใครมีแผนอยากลองไปเที่ยวลำปางในหน้าร้อนแบบนี้กันดูบ้าง Sanook! Travel มีสถานที่เที่ยวลับๆ ของเมืองลำปางที่หลายๆ 
    คนแทบจะไม่รู้จักมาแนะนำให้รู้จักกันใครจะรู้ว่าที่จังหวัดลำปางก็มีล่องแพด้วย! 
    ใช่ครับล่องแพลำปางโดยใครที่ต้องการจะล่องแพนั้นต้องเดินทางไปที่เขื่อนกิ่วลม อ่างเก็บน้ำขนาดใหญ่ของเมืองลำปาง</p><br>

  <center>
    <img src="../static/img/review2/2.jpg" ><br><br><br>
    <img src="../static/img/review2/3.jpg" ><br><br><br>
  </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ที่นี่จะมีผู้ประกอบการให้บริการล่องแพแก่นักท่องเที่ยวอยู่หลายเจ้า ซึ่งระหว่างทางที่ล่องแพนั้นคุณจะได้สัมผัสกับบรรยกาาศของธรรมชาติริม 2 ฝั่ง
    แม่น้ำวังเหนือเขื่อนกิ่วลม และยังมีวิวสุดอลังการของภํเขาหินปูนและสองฝั่งแม่น้ำที่มีต้นไม้เขียวขจีงดงามมากๆ 
    บรรยากาศคล้ายๆ เขื่อนเชี่ยวหลานที่จังหวัดสุราษฏร์ธานีเลยทีเดียว โดยการล่องแพแต่ละเที่ยวระยะทางจากจุดลงแพมาถึงบริเวณเกาะต่าง ๆ 
    ใช้เวลาในการเดินทางอย่างช้าประมาณชั่วโมงเศษตลอดริมสองฝั่งมีสถานที่ท่องเที่ยวมากมาย </p><br>
    
    <center>
      <img src="../static/img/review2/4.jpg" ><br><br><br>
    </center>
          
   <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      นอกจากความสวยงามของธรรมชาติเหนือเขื่อนกิ่วลมที่ได้รับสมญาว่าเป็น “กุ้ยหลินแห่งเมืองไทย” 
      ซึ่ง นักท่องเที่ยวจะเกิดความประทับใจอย่างมากเพราะความสวยงาม ที่เขื่อนกิ่วลมมีความงามไม่แพ้เขื่อนใหญ่ๆ ทีอื่นเลย  </p><br>
            
      <center>
        <img src="../static/img/review2/5.jpg" ><br><br><br>
      </center>
      
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ส่วนการเดินทางมายังเขือ่นกิ่วลมในกรณีที่ใช้รถส่วนตัว สามารถเข้ามาถึงตัวเขื่อนได้ 2 เส้นทางจากพหลโยธิน ลำปาง งาว  
        ต.บ้านเสด็จ อ.เมือง จ.ลำปาง  มีแยกเข้ามาที่เขื่อนกิ่วลม 2 ทาง แต่ละเส้นทางเป็นถนนขนาบแนวอ่างเก็บน้ำเหนือเขื่อนขึ้นไป 
        ทางหนึ่งอยู่ด้านตะวันออก อีกทางอยู่ด้านตะวันตก เส้นทางด้านตะวันออกคือทางหลวงหมายเลข 1335 ส่วน 
        ทางตะวันตกเป็นถนนลาดยาง ทางทั้งสองสายเชื่อมไปถึงอำเภอเมืองปาน และแจ้ห่มได้เหมือนกัน 
        แต่ทางด้านตะวันตกดูเหมือนจะคดเคี้ยวน้อยกว่า พอเข้ามาในเขตเขื่อนกิ่วลมผ่านด่านตรวจเข้ามาแล้วถนนจะพาเรามาสุดทางที่สันเขื่อน 
        แล้วมีทางเดินลงไปที่แพในน้ำ มีทั้งร้านอาหารและแพสำหรับเหมาท่องเที่ยว </p><br>

      <center>
        <img src="../static/img/review2/6.jpg" ><br><br><br>
                       
      </center>
</div>


{% endblock %}