{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/review.css">


  <style>
 
.leftcolumn:hover a{
  color: rgb(68, 0, 255)
}
h1{
  float: left;
  color: rgb(61, 19, 175)
}
  </style>
  {% endblock %}



{% block content %}

<!-- class=mar tag-->
<div class="mar">


<div> <!-- start blog-->
    <div class="row">
      <h1>รีวิวโดนๆ ------------------------------------------------------------</h1>
        <!--blog review1-->
            <div class="leftcolumn"> <a href="review1.html">
              <div class="card"style="background-color: rgba(122, 163, 194, 0.2);">
                <div><center><img src="../static/img/review1/1.jpg" class="fakeimg" style="width:340px"></center></div>  
            </div> 
            <center><p>เมื่อใจต้องการทะเลจึงเซไปเกาะกูด By Sarun</p></center></a>
            </div>
         <!--End blog review1-->  
         <!--blog review2-->
         <div class="leftcolumn"><a href="review1.html">
                <div class="card"style="background-color: rgba(122, 163, 194, 0.2);">
                  <div><center><img src="../static/img/review2/1.jpg" class="fakeimg" style="width:340px"></center></div>  
              </div> 
              <center><p>"ล่องแพเขื่อนกิ่วลม" สัมผัสกับความชิลที่มีอยู่จริงบนผืนน้ำจังหวัดลำปาง By Peeranut P.</p></center>
            </a></div>
           <!--End blog review2-->  
           <!--blog review3-->
           <div class="leftcolumn"><a href="review3.html">
                <div class="card"style="background-color: rgba(122, 163, 194, 0.2);">
                  <div><center><img src="../static/img/review3/1.jpg" class="fakeimg" style="width:340px"></center></div>  
              </div> 
              <center><p>Make Awake คุ้มค่าตื่นที่ จ.ระนอง ไม่ไปไม่ได้แล้ว!สัมผัสกับความชิลที่มีอยู่จริงบนผืนน้ำจังหวัดลำปาง</p></center>
            </a></div>
           <!--End blog review3-->   

           <!--blog review4-->
           <div class="leftcolumn"><a href="review4.html">
                <div class="card"style="background-color: rgba(122, 163, 194, 0.2);">
                  <div><center><img src="../static/img/review4/1.jpg" class="fakeimg" style="width:340px"></center></div>  
              </div> 
              <center><p>ร้านกาแฟ 180 องศา จุดเช็คอินชมทะเลหมอกแห่งใหม่ของเขาค้อ</p></center>
            </a></div>
           <!--End blog review4-->  
           <!--blog review5-->
           <div class="leftcolumn"><a href="review5.html">
                <div class="card"style="background-color: rgba(122, 163, 194, 0.2);">
                  <div><center><img src="../static/img/review5/3.jpg" class="fakeimg" style="width:340px"></center></div>  
              </div> 
              <center><p>เกาะขายหัวเราะ! เมื่อเกาะร้างในการ์ตูนขายหัวเราะมีอยู่จริงในประเทศไทย</p></center>
            </a> </div>
           <!--End blog review5-->  
           <!--blog review6-->
           <div class="leftcolumn"><a href="review6.html">
                <div class="card"style="background-color: rgba(122, 163, 194, 0.2);">
                  <div><center><img src="../static/img/review6/1.jpg" class="fakeimg" style="width:340px"></center></div>  
              </div> 
              <center><p>กม.7 โฮมสเตย์ จุดชมวิวทะเลหมอก สวรรค์บนดินแห่งเบตง</p></center>
            </a></div>
           <!--End blog review6--> 
           
             
           <!-- End div class="row"-->
       
</div><!-- end blog-->
<h1>แชร์ประสบการณ์ ----------------------------------------------------------</h1>  
<div class="row">
    {% for x in usertrip %}
        <div class="leftcolumn"><a href="{{url_for('detail',nametrip=x.NameTrip)}}">
              <div class="card"style="background-color: rgba(122, 163, 194, 0.2);">
                <div><center><img src="../static/img/ImgUpload/{{x.ImageName}}" class="fakeimg" style="width:340px"></center></div>  
              </div> 
                    <center><p>{{x.NameTrip}}</p></center></a>
            </div>
            {% endfor %}
          </div>
                   
          </div>


    
</div><!--end class=mar tag-->






{% endblock %}