{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
 
  <style>
      
  #mainpic{

  width: 75%;
  height: auto;
  margin-top: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  img{
  width: 60%;
  height: auto;

  }
  
.first {
    background-color: rgba(122, 163, 194, 0.2);
    margin-right: 10%;
    margin-left: 10%;
}
 p, h1{
    font-family: 'Kanit', sans-serif;
}
.icon{
    width: 7%;
  height: auto;

}
.footer {
  background-color: rgba(26, 24, 25, 0.5);
   height: 50px; /* ความสูงของ footer */
   display: block;
   text-align: center;
}  
  </style>
  {% endblock %}

{% block content %}


 
  <div class="first"> 
      <center>
        <h1>Make Awake คุ้มค่าตื่นที่ จ.ระนอง ไม่ไปไม่ได้แล้ว!สัมผัสกับความชิลที่มีอยู่จริงบนผืนน้ำจังหวัดลำปาง</h1>
        <img src="../static/img/review3/1.jpg" id="mainpic" >
        <br><br><br>
     </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    หากพูดถึงจังหวัดทางภาคอีสานแล้วล่ะก็ ทุกคนคงจะนึกถึงไอแดดร้อนๆ พื้นที่แห้งแล้ง 
    ที่นาอันกว้างใหญ่พร้อมแสงสีทองสาดส่องไปทั่วบริเวณ แต่ใครจะคิดล่ะว่าในบรรยากาศที่ดูแห้งแล้งนั้นจะมีความมหัศจรรย์ของธรรมชาติ
    ที่ซ่อนอยู่ในรูปแบบของ "น้ำตก" และเท่านั้นยังไม่พอ ยังมีความพิเศษเพิ่มขึ้นไปอีกเพราะน้ำตกแห่งนี้มี "สไลเดอร์" 
    ที่รังสรรค์โดยฝีมือธรรมชาติจะสวยงามขนาดไหนตามไปดูกันเลยจ้า จากภาพด้านบนถึงไม่อธิบายก็คงจะพอดูออกว่า 
    บริเวณตรงกลางระหว่างโขดหินทั้งสองข้างนั้้นคือ "สไลเดอร์" พระเอกของสถานที่นี้นั้นเองจ้า</p><br>
    
    <center>
        <img src="../static/img/review3/2.jpg" ><br><br><br>
    </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ต้องยกความดีความชอบให้กับธรรมชาติที่ได้รังสรรค์น้ำตกพร้อมสไลเดอร์นี้ ออกมาได้อย่างลงตัวและน่าเล่นมาก 
    ด้วยความคดเคี้ยวที่เกิดจากร่องหินแต่ละลูกทำให้เกิดทางน้ำที่มีการไหลโค้งซ้าย ขวา สลับกันไป 
    ทีนี้คงอยากรู้กันแล้วใช่ไหม ว่า "น้ำตกถ้ำพระ" นี้อยู่บริเวณไหนของจังหวัดบึงกาฬ มีที่มาและวิธีการเดินทางไปสนุกกันอย่างไร 
    ไปดูกันเลย </p><br>

    <center>
        <img src="../static/img/review3/3.jpg" ><br><br><br>
           
    </center>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            "น้ำตกถ้ำพระ" หรืออีกชื่อเรียกหนึ่งคือ "น้ำตกภูวัว" ตั้งอยู่ในเขตรักษาพันธุ์สัตว์ป่าภูวัว บ้านถ้ำพระ ต.โสกก่าม อ.เซกา จ.บึงกาฬ 
            โดยปัจจุบันทางองค์การปกครองส่วนท้องถิ่น ได้เข้ามาดูแลและจัดการในด้านการท่องเที่ยว โดยชื่อ"น้ำตกถ้ำพระ"นั้น 
            เนื่องจากในอดีตสถานที่แห่งนี้เคยเป็นวัดป่า จะสังเกตได้จากตามโขดหินผา จะมีพระพุทธรูปประดิษฐานอยู่ในบริเวณน้ำตก 
            ซึ่งภายหลังวัดป่าได้ย้ายออกจากพื้นที่นี้ไปและสถานที่แห่งนี้จึงได้เปิดให้เป็นสถานที่ท่องเที่ยว และพักผ่อนหย่อนใจของคนทุกเพศทุกวัย 
            โดยเฉพาะเด็กๆ ที่มาต่อคิวเล่นสไลเดอร์อย่างสนุกสนาน แต่ไม่มีแค่เด็กๆเท่านั้นที่เพลิดเพลินไปน้ำตกใสๆไหลเย็นแห่งนี้ 
            วัยรุ่นหนุ่มสาวแบบเราๆ ก็เรียกได้ว่าสนุกจนไม่อยากจะกลับเลยทีเดียว</p><br>

    <center>
        <img src="../static/img/review3/4.jpg" ><br><br><br>
                   
    </center>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        การเดินทางเข้าไปบริเวณน้ำตกถ้ำพระนั้น ไม่ใช่ว่าจะขับรถไปถึงแล้วลงเล่นน้ำได้เลยนะจ๊ะ 
        เราต้องนำรถส่วนตัวไปจอดไว้ที่ท่าเรือ แล้วลงเรือโดยสารที่ชาวบ้านละแวกนั้นมีไว้บริการ 
        หลังจากลงเรือแล้วต้องเดินเท้าอีกประมาณ 1 กิโลเมตร เราก็จะถึงบริเวณน้ำตกชั้นที่ 1 จากทั้งหมด 3 ชั้น 
        โดยน้ำไหลมาจากภูเขาหินทรายที่มีขนาดใหญ่ด้านบน ลองจินตนาการตามอาจจะคิดว่าต้องเหนื่อยมากแน่ๆ 
        แต่แอบกระซิบไว้เลยว่าคุ้มค่าความเหนื่อยอย่างแน่นอน คิดดูว่าเราไปเที่ยวเล่นน้ำตกเย็นๆ แบบนี้ แถมได้ล่องเรือชมธรรมชาติอีก 
        งานนี้ถือว่าเป็นการชาร์จแบตให้กับร่างกายที่เหนื่อยล้ามาจากการทำงานได้ดีเลยทีเดียว </p><br>

    <center>
       <img src="../static/img/review3/5.jpg" ><br><br><br>
                       
    </center>
    
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        หากยังไม่หมดแรงกับการเล่นน้ำบริเวณชั้นที่ 1 ของน้ำตก เราขอแนะนำให้ทุกท่านขึ้นไปดื่มด่ำ 
        และสัมผัสบรรยากาศในชั้นที่ 2 และ 3 ด้วยเลย แหม ! มาทั้งทีต้องไปให้ครบสินะ ในชั้นที่ 2 นั้น 
        เราจะได้พบกับ "ถ้ำพระ" ที่มีพระพุทธรูปประดิษฐานอยู่ และคือที่มาของคำว่าชื่อน้ำตกนี้นั้นเอง สามารถเข้าไปกราบไหว้ขอพรกันได้ 
        หลังจากขอพรเสร็จสรรพเรียบร้อย มองหาบันไดที่จะพาเราขึ้นไปสู่ชั้นที่ 3 ของน้ำตกกันได้เลย ขอบอกว่าชั้นนี้คือไฮไลท์ของที่นี่เลย 
        เพราะหลังจากที่เราขึ้นไปจนถึงชั้นบนสุดแล้วให้เรามองย้อนลงมา จะได้พบกับภาพน้ำตกทั้ง 3 ชั้น 
        ไล่ระดับและมีสายน้ำใสไหลจากบนลงล่างอย่าไม่ขาดสาย ใครที่เป็นสายตากล้องนี้ยิ่งไม่ควรพลาดที่จะขึ้นมาแชะภาพเก็บไว้เป็นที่ระลึก 
        หรือเอาไปอวดเพื่อนๆ ได้อีกด้วย </p><br>
        
    <center>
        <img src="../static/img/review3/6.jpg" ><br><br><br>
           
    </center>
    
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        และแน่นอนในการไปสถานที่ท่องเที่ยวทางธรรมชาติแบบนี้ย่อมมีกฎระเบียบที่ทางสถานที่ได้กำหนดไว้ อาทิเช่น 
        ห้ามนำเครื่องดื่มแอลกอฮอล์ ของมึนเมาทุกชนิดเข้าไปดื่มกิน ห้ามขีดเขียนโขดหินให้เป็นรอย ห้ามทำลายธรรมชาติ 
        หรือนำพรรณไม้ต่างๆออกมาจากน้ำตก เป็นต้น และข้อสำคัญสำหรับนักท่องเที่ยวที่ดีคือการรู้จักรักษาความสะอาดของสถานที่นั้นๆ 
        ทิ้งขยะในที่เหมาะสม เพื่อเป็นการอนุรักษ์สิ่งที่ธรรมชาติสร้างขึ้นได้อย่างแสนพิเศษนี้ ให้ลูกหลานและบุคคลอื่น 
        ได้มาพักผ่อนหย่อนใจและเติมพลังในการใช้ชีวิตจากธรรมชาติให้เต็มปอด เที่ยวให้สนุกแต่อย่าลืมรักษาสิ่งแวดล้อมกันด้วยนะจ๊ะ</p><br>
        
    <center>
        <img src="../static/img/review3/7.jpg" ><br><br><br>
    </center>

<p>
ที่ตั้งน้ำตกถ้ำพระ : ตำบลโสกก่าม อำเภอเซกา จังหวัดบึงกาฬ<br><br>

เวลาทำการน้ำตกถ้ำพระ : 8.00 - 17.00 น.<br><br>

ติดต่อน้ำตกถ้ำพระ : 085 761 6096</p><br><br>

</div>
<!-- footer tag-->
<div class="footer">

    
    
    
    </div><!--end footer tag-->      


{% endblock %}