{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="topbutton.css"> <!-- ปุ่มลูกศรขึ้นบนเพจ-->
  <style>
      
  #mainpic{

  width: 75%;
  height: auto;
  margin-top: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  img{
  width: 60%;
  height: auto;

  }
  
.first {
    background-color: rgba(122, 163, 194, 0.2);
    margin-right: 10%;
    margin-left: 10%;
}
 p, h1{
    font-family: 'Kanit', sans-serif;
}
.icon{
    width: 7%;
  height: auto;

}
.footer {
  background-color: rgba(26, 24, 25, 0.5);
   height: 50px; /* ความสูงของ footer */
   display: block;
   text-align: center;
}  
  </style>
  {% endblock %}

{% block content %}

<div class="top"></div><!--id for on top-->
 
  <div class="first"> 
      <center>
        <h1>เกาะขายหัวเราะ! เมื่อเกาะร้างในการ์ตูนขายหัวเราะมีอยู่จริงในประเทศไทย</h1>
        <img src="../static/img/review5/1.jpg" id="mainpic" >
        <br><br><br>
     </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        สำหรับแฟนการ์ตูนตลกในตำนานของประเทศไทยอย่างขายหัวเราะทุกคน คงจะคุ้นเคยกันเป็นอย่างดีกับมุขติดเกาะร้างที่มีต้นไม้ขึ้นอยู่เพียง
        ต้นเดียวในเกาะ ซึ่งถือเป็นมุขที่คลาสสิคและสร้างความสนุกสนานให้แก่ผู้อ่านมาตลอดระยะเวลาหลายสิบปี ซึ่งจริงๆ 
        แล้วเกาะร้างแห่งนี้ไม่ได้มีแต่เพียงในการ์ตูนเท่านั้น แต่เกาะที่มีลักษณะเช่นนี้ได้เกิดขึ้นจริงแล้วในประเทศไทย!</p><br>
    
    <center>
        <img src="../static/img/review5/2.jpg" ><br><br><br>
        <img src="../static/img/review5/3.jpg" ><br><br><br>
        <img src="../static/img/review5/4.jpg" ><br><br><br>
    </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    เกาะขายหัวเราะ จังหวัดตราด เกาะเล็กๆ ที่มีพื้นดินอันน้อยนิดแต่กลับมีต้นไม้ใหญ่ผุดขึ้นมา ถูกตั้งชื่อขึ้นมาตามเกาะร้างในการ์ตูนขายหัวเราะ 
    เกาะแห่งนี้ตั้งอยู่ที่บริเวณด้านหลังเกาะกระดาด เป็นเกาะเล็กๆ กลางทะเลที่มีต้นไม้ใหญ่ขึ้นอยู่หนึ่งต้น 
    สามารถเดินข้ามจากเกาะกระดาดไปที่เกาะขายหัวเราะแห่งนี้ได้ในช่วงเวลาที่น้ำลง </p><br>

    <center>
            <img src="../static/img/review5/5.jpg" ><br><br><br>
            <img src="../static/img/review5/6.jpg" ><br><br><br>
            <img src="../static/img/review5/7.jpg" ><br><br><br>
    </center>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            หลายๆ คนอาจจะยังไม่เคยได้ยินแม้แต่ชื่อของเกาะกระดาดเลยด้วยซ้ำ แต่ต้องขอบอกเลยว่าเกาะแห่งนี้ถือเป็น Unseen Thailand 
            ที่สวยงามและน่ามหัศจรรย์มาก เกาะกระดาดมีรูปทรงแบนราบเหมือนกับกระดาษและที่พิเศษกว่าที่อื่นๆ 
            เพราะเกาะกลางทะเลอันกว้างใหญ่แห่งนี้ มีฝูงกวางอาศัยอยู่เป็นพันๆ ตัวเลยทีเดียว จนหลายๆ คนเรียกที่นี่ว่าซาฟารีกลางทะเลนั่นเอง</p><br>

    <center>
            <img src="../static/img/review5/8.jpg" ><br><br><br>
            <img src="../static/img/review5/9.jpg" ><br><br><br>
   
                   
    </center>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            และที่พีคกว่านั้นก็คือน้ำทะเลโดยรอบเกาะกระดาดนั้นถึงแม้จะเป็นเกาะที่ตั้งอยู่กลางทะเลอ่าวไทย แต่ความสวยงามของน้ำทะเล ความใส และแนวปะการังนั้น ต้องถือว่าสวยงามระดับเวิลด์คลาสไม่แพ้ฝั่งอันดามันเลยทีเดียว

สำหรับใครที่มีแผนจะมาเที่ยวเกาะกระดาดต้องห้ามพลาดที่จะเดินข้ามไปสู่เกาะขายหัวเราะถ่ายรูปเลียนแบบเหมือนในแก๊กของการ์ตูนขายหัวเราะกันนะครับ

รับรองว่าหากลงโซเชี่ยลไปจะต้องเป็นรูปภาพที่เพื่อนๆ หลายๆ คนของคุณต้องตื่นตาตื่นใจและทำหน้างงกันเป็นแถวแน่นอนว่าที่แห่งนี้มันอยู่ที่ใดกัน 

รีบไปเช็คอินก่อนใครกันได้ที่เกาะขายหัวเราะและเกาะกระดาดครับ </p><br>

    <center>
            <img src="../static/img/review5/10.jpg" ><br><br><br>
            <img src="../static/img/review5/11.jpg" ><br><br><br>
                       
    </center>
    


<p>
        ที่ตั้งเกาะกระดาด : ตั้งอยู่ทางทิศตะวันออกเฉียงเหนือของเกาะหมาก ห่างจากเกาะหมากในบริเวณที่ใกล้ที่สุดคือแหลมสน
        โดยมีระยะทางห่างประมาณ 1 กิโลเมตร อำเภอเกาะกูด จังหวัดตราด<br><br>

        ติดต่อเดินทางสู่เกาะกระดาด : คุณ อวิรุทธ์ มามีชัย โทร. 088-5000667, 086-3227010<br><br>

        การเดินทาง : ขึ้นเรือที่แหลมงอบ ใช้เวลาเดินทางประมาณ 2-3 ชั่วโมง<br><br>

ข้อมูลเพิ่มเติม : <a href="http://www.kohkradadresorts.com/price.html">www.kohkradadresorts.com</a> <br><br>
</p><br><br>

</div>
<!-- footer tag-->
<div class="footer">

    <!-- Back-to-top Button-->
    <a href="#top" class="cd-top"><img src="../static/img/icons8-slide-up-100.png" style="width:50px;height:50px;margin-right:5%;" align="Right" ></a>
    <script>
        jQuery(document).ready(function($){
       
        var offset = 300,
         
            offset_opacity = 1200,
           
            scroll_top_duration = 700,
        
            $back_to_top = $('.cd-top');
    
       
        $(window).scroll(function(){
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if( $(this).scrollTop() > offset_opacity ) {
                $back_to_top.addClass('cd-fade-out');
            }
        });
    
         //smooth scroll to top
      $back_to_top.on('click', function(event){
          event.preventDefault();
          $('body,html').animate({
              scrollTop: 0 ,
               }, scroll_top_duration
          );
      });
  
  });
    </script><!-- End Back-to-top Button-->
    
    
    </div><!--end footer tag-->      


{% endblock %}