{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="topbutton.css"> <!-- ปุ่มลูกศรขึ้นบนเพจ-->
  <style>
  #mainpic{

  width: 67%;
  height: auto;
  margin-top: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  img{
  width: 60%;
  height: auto;

  }
  p,h1 {
    font-family: 'Kanit', sans-serif;
}
  
.first {
    background-color: rgba(122, 163, 194, 0.2);
    margin-right: 10%;
    margin-left: 10%;
}
.icon{
    width: 7%;
  height: auto;

}
.footer {
  background-color: rgba(26, 24, 25, 0.5);
   height: 50px; /* ความสูงของ footer */
   display: block;
   text-align: center;
} 

  </style>

{% endblock %}

{% block content %}

<div class="top"></div><!--id for on top-->
 
  <div class="first"> 
        <center>
                <h1>เมื่อใจต้องการทะเลจึงเซไปเกาะกูด By Sarun</h1>
              <img src="../static/img/review1/1.jpg" id="mainpic" >
              <br><br><br>
</center>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ถ้าพูดฤดูหนาว หลายๆคนคงไปเที่ยวตามภูเขา อากาศเย็นๆ แต่สำหรับผมฤดูหนาวนี่แหละเหมาะแก่การเที่ยวทะเลมากๆ 
    เนื่องจากว่ามีเวลา 3 วัน 2 คืน 9-11 ธ.ค. 60 หยุด 3 วัน ก็เลยคิดว่าอยากไปเที่ยวทะเลทางตะวันออก ชลบุรี 
    ระยองก็ไปมาเกือบทุกเกาะแล้ว ก็เลยมาเล็งที่จ.ตราด ตอนแรกก็ลังเลระหว่างเกาะกูดกับเกาะหมาก สุดท้ายเลือกไปเกาะกูด 
    เห็นว่าเป็นเกาะใหญ่กว่าแล้วก็หาดสวย น้ำทะเลก็ใส แถมมีน้ำตก มีคลองเป็นป่าโกงกาง อยากไปพายเรือคายักด้วย 
    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ความจริงทริปนี้มีเวลาจองไม่ถึงอาทิตย์หาที่พักยากมาก ที่พักราคาถูกๆเต็มหมดเนื่องจากเป็นวันหยุดยาว ตอนแรกก็เกือบจะถอดใจ 
    แต่ความพยายามก็ไม่ลดละ 5555 เปิดไปเจอที่พักนึงชื่อแมงโกรฟบังกะโล ราคาก็โอเคไม่แพงมาก ไม่ติดทะเล แต่ว่าติดคลองเจ้า
     ห่างจากหาดประมาณ 300 เมตร เลยตัดสินใจจองเลย แล้วไปลุยกัน... (ปล.รูปเยอะหน่อยนะแต่อยากให้อ่าน อิอิ)</p><br>
<center>
    <img src="../static/img/review1/2.jpg" ><br><br><br>
    <img src="../static/img/review1/3.jpg" ><br><br><br>
  </center>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    มาเริ่มกันที่การเดินทางของเรากันเลย ตอนแรกกะว่าจะไปรถรอบเช้าแล้วไปขึ้นเรือรอบ 13.00 น. แต่ปรากฏว่าเรือรอบนี้เต็ม 
    เลยต้องเปลี่ยนแผนใหม่ ทริปนี้ผมออกเดินทางโดยรถทัวร์ของเอกมัยเป็นรถของเชิดชัยทัวร์ในรอบดึก 23.30 น. ค่ารถ 230 บาท 
    จะไปถึงตราดประมาณ เกือบๆตีห้า ที่หมอชิตก็มีเหมือนกันนะมีทั้งรถทัวร์ แล้วก็รถตู้รู้สึกว่ารอบเช้าสุดจะเป็นตีห้า<br><br>
**แนะนำให้ขึ้นของบขส.นะครับเพราะไปอ่านในพันทิปมามีแต่คนแนะนำ แต่เนื่องจากว่าวันที่ผมไปรถรอบดึกของบขส.เต็มหมด 
เลยเลือกไม่ได้ บอกเลยว่าไม่ค่อยประทับใจเชิดชัยทัวร์เท่าไร สภาพรถถือว่าดีนะ แต่แอร์ไม่เย็นเลย</p><br>

<div>
  <center>
    <img src="../static/img/review1/4.jpg" ><br><br><br>
  </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    มาถึงบขส.ประมาณตี4ครึ่งโอ้ แล้วรอบเรือคือ 10.00น. รออีกยาวเลย 555 ที่นั่นจะมีร้านข้าวขายด้วยนะ
    หาข้าวกินให้เรียบร้อยรอรถมารับ เรียกว่านอนรอกันเลยทีเดียว 5555 รถมารับประมาณ 8.30 น.นั่งรถไปท่าเรืออีกประมาณ
    30 นาที ผมแนะนำเลยนะถ้าใครจะไปช่วงเทศกาลหรือวันหยุดหลายๆวันแนะนำให้จองก่อนไปนะครับ 
    สำหรับที่ผมไปทางที่พักจัดแจงจองให้หมดเลยครับเพราะผมจองเป็นแพ็คเกจของทางที่พักรวมเรือไป-กลับ
    สำหรับคนที่เอารถไปควรไปถึงท่าเรือก่อนอย่างน้อยสักครึ่งชั่วโมงนะครับ</p><br>
</div>

<div>
  <center>
    <img src="../static/img/review1/5.jpg" ><br><br><br>
                        
  </center>
                      
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    สำหรับเรือเกาะกูดนั้นจะมี 3 บริษัทใหญ่ๆ จะมีเป็นเรือเร็วกับเรือเฟอรี่ มีเรือบริษัทบุญศิริ ราคา เที่ยวละ 500 
    บาทแต่ของบุญศิริจะมีรถทัวร์รอบดึกด้วยรวมเรือไปกลับ ขึ้นรถที่ถนนข้าวสารแต่ไม่แน่ใจราคาเท่าไร,
    เกาะกูดเอกซ์เพรส 350 ต่อเที่ยว , เกาะกูดปริ๊นเซส ทริปนี้ทางที่พักจองให้เป็นของบริษัทเกาะกูดปริ๊นเซส
    ราคาเที่ยวล่ะ 350 ไปกลับ 700 บาท เป็นเรือใหญ่บรรทุกคนได้ประมาณ 300 คนพอดีเห็นป้ายที่เค้าเขียน
    5555 จะมีที่นั่งที่เป็นแอร์ซะส่วนมาก ส่วนคนที่กลัวเมาเรือทางด้านหลังจะเป็นแอร์ธรรมชาติ 
    คือผมกลัวเมาเลยไปนั่งด้านหลั่ง ขากลับลองนั่งด้านในปรากฎว่าไม่เมาแถมแอร์เย็นหลับสบายเลย
    ผมลืมบอกวันผมไปก่อนเรือจะออกตรงท่าเรือเจอปลาโลมาว่ายเล่นน้ำใกล้ๆฝั่งหลายตัวเลย
    ตื่นเต้นมากพึ่งเคยเห็น 5555</p><br>
</div>

<div>
  <center>
    <img src="../static/img/review1/6.jpg" ><br><br><br>
                                    
  </center>
  
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ใช้เวลาประมาณ 2 ชั่วโมงถึงท่าเรือ จากนั้นจะมีรถสองแถวไปส่งยังที่พักใช้เวลาอีกประมาณ 30 
    นาที ตอนขั้นเรือไม่อวกแต่จะมาอวกตอนขึ้นสองแถว 
    มันเป็นเส้นทางขึ้นลงเขามีทางโค้งตลอดแถมรถขับซิ่งด้วย ดีนะที่มีหมากฝรั่งช่วยไม่งั้นอวกพุ่งแน่ๆ 
    5555 มาถึงที่พักประมาณบ่ายโมงกว่าๆได้ หิวมากดีที่ว่าที่พักตรงนี้เป็นร้านอาหารด้วยดีงาม
    </p><br>
</div>
                        
<div>
  <center>
   <img src="../static/img/review1/7.jpg" ><br><br><br>
   <img src="../static/img/review1/8.jpg" ><br><br><br>
  </center>
                                      
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      บรรยากาศทีพักแมงโกรฟบังกะโล ผมจองในโปรโมชั่นแพ็คเกจ 3 วัน 2 คืน 2700 บาท/คน 
      เป็นที่พักโซนด้านหลัง ถ้าไปคนเดียวคิดเพิ่ม 1000 บาท รวมค่าเรือไปกลับ มีมอไซด์ให้ 1 คัน 
      กิจกรรมพายเรือคายัก และกิจกรรมดำน้ำ ส่วนที่พักโซนด้านหน้าก็จะแพงกว่านี้นิดหน่อย</p><br>
</div>

<div>
  <center>
    <img src="../static/img/review1/9.jpg" ><br><br><br>
  </center>
      
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ที่พักไม่ติดทะเลแต่ติดคลองเจ้า สามารถพายเรือไปน้ำตกคลองเจ้าได้ อยู่ห่างจากทะเลประมาณ 300 เมตร 
      ชมพระอาทิตย์ตกดินตรงหาดนี้ได้ด้วย</p><br>
</div>

<div>
  <center>            
    <img src="../static/img/review1/10.jpg" ><br><br><br>
    <img src="../static/img/review1/11.jpg" ><br><br><br>
    <img src="../static/img/review1/12.jpg" ><br><br><br>
    <img src="../static/img/review1/13.jpg" ><br><br><br>
    <img src="../static/img/review1/14.jpg" ><br><br><br>
    <img src="../static/img/review1/15.jpg" ><br><br><br>
  </center>
</div>

<div>
                                            
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      อาบน้ำแต่งตัวแวนซ์มอไซด์ไปน้ำตกคลองเจ้ากัน อยู่ใกล้ๆที่พักเลยประมาณ 1 กิโลกว่าได้มั้ง แล้วก็เดินเข้าไปอีกนิดหน่อย 
      น้ำตกสวยมากๆ บรรยากาศร่มรื่น มีแอ่งใหญ่ให้เล่นน้ำ มีที่กระโดดน้ำ เนื่องจากใกล้เย็นแล้วเลยแวนซ์ไปสำรวจเกาะกันดีกว่า
    </p><br>

    <center>
      <img src="../static/img/review1/16.jpg" ><br><br><br>
      <img src="../static/img/review1/17.jpg" ><br><br><br>
      <img src="../static/img/review1/18.jpg" ><br><br><br>
    </center>
 </div>
 
 <div>
   <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      มาถึงที่แรกอยากมามากที่สุด to the sea รีสอร์ท เป็นรีสอร์ทที่ตั้งใจเลยว่าจะไปมากที่สุด 
      เคยคุยกับคนๆนึงไว้ถ้าไปเกาะกูดอยากจะพามาที่นี่มาก แต่ตอนนี้คงไม่มีโอกาสอีกแล้ว พาดราม่าไปอีก 555 TT 
      กลับเข้าเรื่องดีกว่า อิอิ  จริงๆชอบรีสอร์ทนี้มากๆ ตามมาจากเพจ#ไปกันนะ มีสระว่ายน้ำน่าเล่นมากดูดิ 
      แถมตอนเย็นดูพระอาทิตย์ตกได้จากหน้าหาดนี้เลยถ้าใครอยากพาแฟนไปผมแนะนำรีสอร์ทนี้เหมาะมาก 
      มีชิงช้าให้นั่งเล่นถ่ายรูปด้วย ที่เห็นในรีวิวบ่อยๆก็จะเป็นชิงช้าในน้ำนู้นไม่รู้มองกันเห็นเปล่า 555 
      อ่าวตรงนี้จะเป็นอ่างบางเบ้าจะมีรีสอร์ทหลักๆ ที่เห็นมีสยามบีช ,เดอะบีช,เกาะกูดรีสอร์ท,แซนแอนซี</p>
      
    <center><br>
      <img src="../static/img/review1/19.jpg" ><br><br><br>
      <img src="../static/img/review1/20.jpg" ><br><br><br>
      <img src="../static/img/review1/21.jpg" ><br><br><br>
      <img src="../static/img/review1/22.jpg" ><br><br><br>
      <img src="../static/img/review1/23.jpg" ><br><br><br>
    </center>
</div>
                                            
<div>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    มาต่อกันที่อ่าวพร้าว อ่าวพร้าวก็ต้องมีมะพร้าว อิอิ อ่าวนี้เงียบสงบมาก แทบไม่มีคนเลยตอนไปเจอฝรั่งอยู่ 2 คน 
    ต้นมะพร้าวเยอะมาก มองดูสวยงาม อาร์ตมาก ที่จริงน้ำใสนะแต่เนื่องจากแดดแรงแล้วมันย้อนแสง 
    เหมือนจะเป็นหาดที่มีรีสอร์ทเปิดใหม่ด้วยนะ ชื่ิอเรสซีรีสอร์ท 
    แต่ก็ไม่ได้ไปส่องดูว่าที่พักเป็นไงบ้างกลัวไปถ่ายพระอาทิตย์ตกไม่ทัน แล้วผมแวนซ์ไปที่อ่าวตะเภา อยู่ใกล้สะพานน้ำลึก 
    ตั้งใจจะมาชมพระทิตย์ตกที่นี่ เดินเล่นถ่ายรูป ชมบรรยากาศก่อนพระอาทิตย์ตกมันก็จะฟินๆหน่อย ถ้ามากับแฟนนะหืมมม 
    ถ่ายรูปกันไปรัวๆ อ่าวนี้คนค่อนข้างคึกคัก แต่ดูแล้วน่าสนุกดี ถ้ามากับเพื่อนมากับครอบครัวคงสนุกดี ยิ่งถ้ามากับแฟนคงดีมากๆ</p><br>
    
    <center>
      <img src="../static/img/review1/24.jpg" ><br><br><br>
      <img src="../static/img/review1/25.jpg" ><br><br><br>
      <img src="../static/img/review1/26.jpg" ><br><br><br>
      <img src="../static/img/review1/27.jpg" ><br><br><br>
      <img src="../static/img/review1/28.jpg" ><br><br><br>
      <img src="../static/img/review1/29.jpg" ><br><br><br>
      <img src="../static/img/review1/30.jpg" ><br><br><br>
      <img src="../static/img/review1/31.jpg" ><br><br><br>
      <img src="../static/img/review1/32.jpg" ><br><br><br>
    </center>
                                                          
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ต่อไปผมจะรวมภาพบรรยากาศมาให้ดูกันแบบคอมโบกันเลยคร้าบบ</p><br>
</div>

<div>
   <center>
     <img src="../static/img/review1/33.jpg" ><br><br><br>
     <img src="../static/img/review1/34.jpg" ><br><br><br>
     <img src="../static/img/review1/35.jpg" ><br><br><br>
     <img src="../static/img/review1/36.jpg" ><br><br><br>
     <img src="../static/img/review1/37.jpg" ><br><br><br>
     <img src="../static/img/review1/38.jpg" ><br><br><br>
     <img src="../static/img/review1/39.jpg" ><br><br><br>
     <img src="../static/img/review1/40.jpg" ><br><br><br>
     <img src="../static/img/review1/41.jpg" ><br><br><br>
     <img src="../static/img/review1/42.jpg" ><br><br><br>
     <img src="../static/img/review1/43.jpg" ><br><br><br>
     <img src="../static/img/review1/44.jpg" ><br><br><br>
     <img src="../static/img/review1/45.jpg" ><br><br><br>
     <img src="../static/img/review1/46.jpg" ><br><br><br>
     <img src="../static/img/review1/47.jpg" ><br><br><br>
     <img src="../static/img/review1/48.jpg" ><br><br><br>
     <img src="../static/img/review1/49.jpg" ><br><br><br>
     <img src="../static/img/review1/50.jpg" ><br><br><br>
     <img src="../static/img/review1/51.jpg" ><br><br><br>
     <img src="../static/img/review1/52.jpg" ><br><br><br>
     <img src="../static/img/review1/53.jpg" ><br><br><br>
     <img src="../static/img/review1/54.jpg" ><br><br><br>
     <img src="../static/img/review1/55.jpg" ><br><br><br>
     <img src="../static/img/review1/56.jpg" ><br><br><br>
     <img src="../static/img/review1/57.jpg" ><br><br><br>
     <img src="../static/img/review1/58.jpg" ><br><br><br>
     <img src="../static/img/review1/59.jpg" ><br><br><br>
     <img src="../static/img/review1/60.jpg" ><br><br><br>
     <img src="../static/img/review1/61.jpg" ><br><br><br>
     <img src="../static/img/review1/62.jpg" ><br><br><br>

    </center>   
    
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ผมมองว่าเกาะกูดเป็นอีก1 ตัวเลือกสำหรับคนชอบเที่ยวทะเล อยากไปพักผ่อน พาครอบครัวไปเที่ยว 
      ไปกับเพื่อนไปกับแฟนขอบอกว่าเหมาะมาก สายทะเลไม่ควรพลาด รับลองไม่ผิดหวัง ยังไงก็ฝากรีวิวไว้ด้วยนะครับผม ^^ 
      ติดตามการเดินทางของเราได้ที่Facebook : <a href="https://web.facebook.com/Yhaktiewkortiew/">อยากเที่ยวก็เที่ยว</a> 
ไปดูภาพสวยๆอ่านรีวิวที่เที่ยวอื่นๆกันได้ อิอิ</p><br><br><br>
</div>
                                                    
                      
               
</div>
 
<!-- footer tag-->
<div class="footer">

  <!-- Back-to-top Button-->
  <a href="#top" class="cd-top"><img src="../static/img/icons8-slide-up-100.png" style="width:50px;height:50px;margin-right:5%;" align="Right" ></a>
  <script>
      jQuery(document).ready(function($){
     
      var offset = 300,
       
          offset_opacity = 1200,
         
          scroll_top_duration = 700,
      
          $back_to_top = $('.cd-top');
  
     
      $(window).scroll(function(){
          ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
          if( $(this).scrollTop() > offset_opacity ) {
              $back_to_top.addClass('cd-fade-out');
          }
      });
  
       //smooth scroll to top
    $back_to_top.on('click', function(event){
        event.preventDefault();
        $('body,html').animate({
            scrollTop: 0 ,
             }, scroll_top_duration
        );
    });

});
  </script><!-- End Back-to-top Button-->
  
  
  </div><!--end footer tag-->      


{% endblock %}