{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

  <style>
      
  #mainpic{

  width: 75%;
  height: auto;
  margin-top: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  img{
  width: 60%;
  height: auto;

  }
  
.first {
    background-color: rgba(122, 163, 194, 0.2);
    margin-right: 10%;
    margin-left: 10%;
}
 p, h1{
    font-family: 'Kanit', sans-serif;
}
.icon{
    width: 7%;
  height: auto;

}
.footer {
  background-color: rgba(26, 24, 25, 0.5);
   height: 50px; /* ความสูงของ footer */
   display: block;
   text-align: center;
}  
  </style>
  {% endblock %}

{% block content %}


 
  <div class="first"> 
      <center>
        <h1>--- ร้านกาแฟ 180 องศา ---
            <br>จุดเช็คอินชมทะเลหมอกแห่งใหม่ของเขาค้อ</h1>
        <img src="../static/img/review4/1.jpg" id="mainpic" >
        <br><br><br>
     </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    แน่นอนว่าหากพูดถึงเขาค้อสถานที่ท่องเที่ยวชื่อดังของจังหวัดเพชรบูรณ์ หลายๆ คนคงจะคิดถึงทะเลหมอกหนาๆ สุดอลังการที่ลอยอยู่เหนือเขาค้อตลอดทั้งปี

ที่นี่ถือเป็นที่ชมทะเลหมอกที่มีชื่อเสียงมากที่สุดแห่งหนึ่งในประเทศไทยเลยก็ว่าได้ ซึ่งแต่ละคนเวลาไปเขาค้อก็จะมีจุดชมทะเลหมอกที่แตกต่างกันไป 

วันนี้ Sanook! Travel จะพาทุกคนไปทำความรู้จักกับร้านกาแฟแห่งหนึ่งที่ยังไม่ค่อยมีคนรู้จักมากนัก แต่ที่นี่คือจุดชมทะเลหมอกที่สวยงามที่สุดแห่งหนึ่งบนเขาค้อเลยทีเดียว</p><br>
    
    <center>
        <img src="../static/img/review4/2.jpg" ><br><br><br>
        <img src="../static/img/review4/3.jpg" ><br><br><br>
        <img src="../static/img/review4/4.jpg" ><br><br><br>
    </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ร้านกาแฟ 180 องศาเป็นทั้งคาเฟ่และที่พักที่ตั้งอยู่บนภูเขาสูง วิวด้านหน้าคือภาพพาโนราม่าของขุนเขาที่สลับซับซ้อนกันอย่างงดงาม

        และที่พีคที่สุดก็คือทะเลหมอกสุดอลังการในยามเช้าที่แทบจะสะกดทุกสายตาของผู้ที่ได้มาเยือนให้ได้หยุดชื่นชมความมหัศจรรย์ของธรรมชาตินี้
        
        และยิ่งสวยงามมากขึ้นไปอีกเมื่อแสงแดดอ่อนๆ ในยามเช้าค่อยๆ โผล่พ้นเมฆหมอกลงมา เป็นช่วงเวลาในฝันที่หลายคนอยากจะไปสัมผัสสักครั้งในชีวิต </p><br>

    <center>
            <img src="../static/img/review4/5.jpg" ><br><br><br>
            <img src="../static/img/review4/6.jpg" ><br><br><br>
            <img src="../static/img/review4/7.jpg" ><br><br><br>
    </center>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            วิวธรรมชาติแบบ 180 องศาตามชื่อของร้านกาแฟแห่งนี้ เป็นวิวที่สวยงามสมชื่อจริงๆ นอกจากนี้รอบๆ 
            บริเวณร้านกาแฟยังมีการจัดตกแต่งสวนดอกไม้ไว้อย่างสวยงาม</p><br>

    <center>
            <img src="../static/img/review4/8.jpg" ><br><br><br>
            <img src="../static/img/review4/9.jpg" ><br><br><br>
            <img src="../static/img/review4/10.jpg" ><br><br><br>
                   
    </center>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            เป็นมุมถ่ายภาพที่จะทำให้คุณได้ภาพสวยๆ กลับไปเป็นความทรงจำดีๆ แน่นอน ใครที่มาทานกาแฟที่ร้านนี้แล้วยังไม่เต็มอิ่มกับการซึมซับธรรมชาติก็สามารถนอนพักค้างคืนที่นี่ได้ด้วย

            ซึ่งแน่นอนว่าขนาดร้านกาแฟยังวิวสวยขนาดนี้ แล้วที่พักจะขนาดไหน ที่พักแบบบังกะโลหันหน้าออกสู่ขุนเขา ในทุกเช้าจะมีทะเลหมอกหนาๆ มาเคาะประตูปลุกคุณถึงบนเตียงนอนเลยทีเดียว
            
            ถือได้ว่าเป็นสถานที่ท่องเที่ยวลับแห่งเขาค้อที่รอให้ทุกคนไปสัมผัสความมหัศจรรย์ชมวิวทะเลหมอกสุดอลังการกันครับ</p><br>

    <center>
            <img src="../static/img/review4/11.jpg" ><br><br><br>
            <img src="../static/img/review4/12.jpg" ><br><br><br>
                       
    </center>
    


<p>
ที่ตั้งร้านกาแฟ 180 องศา : ตำบลเขาค้อ (320.13 km) อำเภอเขาค้อ จังหวัดเพชรบูรณ์<br><br>

เบอร์ติดต่อ : 096 665 2954<br><br>

เวลาเปิด - ปิด :  10:00 - 16:30 น.<br><br>

ข้อมูลเพิ่มเติม : <a href="https://www.facebook.com/180alldayallseason/">180alldayallseason</a> <br><br>
</p><br><br>

</div>
<!-- footer tag-->
<div class="footer">

  
    
    
    </div><!--end footer tag-->      


{% endblock %}