{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="topbutton.css"> <!-- ปุ่มลูกศรขึ้นบนเพจ-->
  <style>
      
  #mainpic{

  width: 75%;
  height: auto;
  margin-top: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  img{
  width: 60%;
  height: auto;

  }
  
.first {
    background-color: rgba(122, 163, 194, 0.2);
    margin-right: 10%;
    margin-left: 10%;
}
 p, h1{
    font-family: 'Kanit', sans-serif;
}
.icon{
    width: 7%;
  height: auto;

}
.footer {
  background-color: rgba(26, 24, 25, 0.5);
   height: 50px; /* ความสูงของ footer */
   display: block;
   text-align: center;
}  
  </style>
  {% endblock %}

{% block content %}

<div class="top"></div><!--id for on top-->
 
  <div class="first"> 
      <center>
        <h1>กม.7 โฮมสเตย์ จุดชมวิวทะเลหมอก สวรรค์บนดินแห่งเบตง</h1>
        <img src="../static/img/review6/1.jpg" id="mainpic" >
        <br><br><br>
     </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ใครที่ได้เห็นภาพชุดทะเลหมอกต่อไปนี้จะต้องคิดว่าสถานที่นี้อยู่ทางภาคเหนือของประเทศไทยแน่นอน แต่ความจริงแล้ว 
        ภาพที่ทุกคนได้เห็นกันอยู่นี้ อยู่ที่ภาคใต้ของประเทศไทยอย่างอำเภอเบตงนั่นเองครับ เบตงเมืองแห่งวัฒนธรรมอันโด่งดัง 
        น้อยคนนักที่จะรู้ว่านอกจากวัฒนธรรมอันงดงามในเมืองเบตงแล้ว ที่นี่ยังมีจุดชมวิวทะเลหมอกที่งดงามมากๆ อีกด้วย</p><br>
    
    <center>
        <img src="../static/img/review6/2.jpg" ><br><br><br>
        <img src="../static/img/review6/3.jpg" ><br><br><br>
        <img src="../static/img/review6/4.jpg" ><br><br><br>
    </center>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ที่นี่คือที่พักโฮมสเตย์ที่มีชื่อว่า กม.7 โฮมสเตย์ เป็นที่พักที่สามารถชมวิวทะเลหมอกเมืองเบตงได้แบบพาโนราม่า 
        มีที่พักให้เลือกทั้งแบบ บ้านพัก และเต๊นท์ให้เช่า แนะนำว่ามาเที่ยวทั้งทีลองเช่าเต๊นท์มานอนหันหน้าออกสู่ธรรมชาติกันดูครับ </p><br>

    <center>
            <img src="../static/img/review6/5.jpg" ><br><br><br>
            <img src="../static/img/review6/6.jpg" ><br><br><br>
            <img src="../static/img/review6/7.jpg" ><br><br><br>
    </center>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            แล้วในยามเช้าเมื่อเปิดเต๊นท์มาคุณจะได้พบกับสวรรค์บนดินอย่างแท้จริง แสงอาทิตย์สีทองค่อยๆ สาดแสงขึ้นเต็มท้องฟ้า 
            เผยให้เห็นทะเลหมอกสีขาวนวลลอยอยู่ในอากาศ ท่ามกลางวิวทิวทัศน์แห่งป่าไม้อันเขียวขจี 
            บรรยากาศในยามเช้าแบบนี้ได้นั่งทานอาหารหรือเครื่องดื่มร้อนๆ ลองคิดภาพตามกันดูครับว่าจะฟินแค่ไหน </p><br>

    <center>
            <img src="../static/img/review6/8.jpg" ><br><br><br>
            <img src="../static/img/review6/9.jpg" ><br><br><br>
            <img src="../static/img/review6/10.jpg" ><br><br><br>
                   
    </center>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            และสำหรับคนที่ชื่นชอบการถ่ายภาพ แนะนำเลยว่าโลเคชั่นที่นี่สวยงามไม่แพ้ที่ไหนแน่นอน ด้วยความที่ธรรมชาติที่นี่ยังดิบอยู่
            และยังไม่ถูกรุกรานจากมนุษย์มากนัก ทำให้คุณจะได้เก็บภาพของธรรมชาติอย่างเต็มที่ ขุนเขาและสายหมอกมองดูคล้ายกับท้องทะเลที่มีเกาะแก่งต่างๆ 
            เป็นภูมิทัศน์ที่สวยงามสุดจะบรรยายจริงๆ เสียเงินแค่หลักร้อยแต่ได้ชมความมหัศจรรย์ระดับล้านขนาดนี้ รีบไปเช็คอินก่อนใครกันได้ที่ ทะเลหมอก กม.7 โฮมสเตย์ครับ </p><br>

    <center>
            <img src="../static/img/review6/11.jpg" ><br><br><br>
            <img src="../static/img/review6/12.jpg" ><br><br><br>
            <img src="../static/img/review6/13.jpg" ><br><br><br>
                       
    </center>
    


<p>
        ติดต่อที่พัก : 084-8901292<br><br>

ข้อมูลเพิ่มเติม : <a href="https://www.facebook.com/hoycharoensak/">ทะเลหมอก กม.7 โฮมสเตย์ ณ จุดชมวิวโรจนรักษาวงศ์</a> <br><br>
</p><br><br>

</div>
<!-- footer tag-->
<div class="footer">

    <!-- Back-to-top Button-->
    <a href="#top" class="cd-top"><img src="../static/img/icons8-slide-up-100.png" style="width:50px;height:50px;margin-right:5%;" align="Right" ></a>
    <script>
        jQuery(document).ready(function($){
       
        var offset = 300,
         
            offset_opacity = 1200,
           
            scroll_top_duration = 700,
        
            $back_to_top = $('.cd-top');
    
       
        $(window).scroll(function(){
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if( $(this).scrollTop() > offset_opacity ) {
                $back_to_top.addClass('cd-fade-out');
            }
        });
    
         //smooth scroll to top
      $back_to_top.on('click', function(event){
          event.preventDefault();
          $('body,html').animate({
              scrollTop: 0 ,
               }, scroll_top_duration
          );
      });
  
  });
    </script><!-- End Back-to-top Button-->
    
    
    </div><!--end footer tag-->      


{% endblock %}