<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="../static/css/slide.css">
<style>


  </style>
<body>
    <div class="w3-content w3-display-container">
        <a href="blog5.html"><img class="mySlides" src="../static/img/blog3/1.jpg" style="width:30%"></a>
        <img class="mySlides" src="../static/img/blog3/2.jpg" style="width:30%">
        <img class="mySlides" src="../static/img/blog3/3.jpg" style="width:30%">
        <img class="mySlides" src="../static/img/blog3/4.jpg" style="width:30%">
        <img class="mySlides2" src="../static/img/blog3/5.jpg" style="width:30%">
        <img class="mySlides2" src="../static/img/blog3/6.jpg" style="width:30%">
        <img class="mySlides2" src="../static/img/blog3/7.jpg" style="width:30%">
        <img class="mySlides2" src="../static/img/blog3/8.jpg" style="width:30%">
        <img class="mySlides3" src="../static/img/blog3/9.jpg" style="width:30%">
        <img class="mySlides3" src="../static/img/blog3/10.jpg" style="width:30%">
        <img class="mySlides3" src="../static/img/blog3/11.jpg" style="width:30%">
        <img class="mySlides3" src="../static/img/blog3/12.jpg" style="width:30%">
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
      
      <script>
      var slideIndex = 1;
      showDivs(slideIndex);
      
      function plusDivs(n) {
        showDivs(slideIndex += n);
      }
      
      function showDivs(n) {
        var i;
        var y = document.getElementsByClassName("mySlides2");
        var x = document.getElementsByClassName("mySlides");
        var z = document.getElementsByClassName("mySlides3");
        if (n > x.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           
           x[i].style.display = "none"; 
           y[i].style.display = "none"; 
           z[i].style.display = "none"; 
        }
        x[slideIndex-1].style.display = "inline";
        y[slideIndex-1].style.display = "inline"; 
        z[slideIndex-1].style.display = "inline"; 
      }
      </script>
    

</body>
</html>
