{% extends "nav.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style>

      .header{
        color: white;
      background-color: rgba(6, 9, 53, 0.842);
      padding: 2px;
      }
      .input{
        width: 30%;
        background-color: green;
      }
      </style>
      
{% endblock %}


{% block content %}
<br>
<div class="header">
    <center>
<h1>
รีวิวทริป <img src="../static/img/notepad.png" class="notepad">

</h1>
</center>
</div>

<!-- <form method="POST"> -->
    <!-- <input type="file" name="pic" accept="image/*">
    
    <input type="text"> -->
    <div class="input">
    <form action="{{  url_for('.user_review') }}" method="POST" enctype="multipart/form-data" >
    {{test}}
    {% if error %}
    {{error}}
    {% endif %}
    <table>
<tr>
<td></td>
<td></td>
</tr>
<tr>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td></td>
</tr>

    </table>
    <label><p>ชื่อทริป : <textarea name="msg" ></textarea></p></label>
     
     <label><p>ชื่อทริป : <input type="text" name="NameTrip" ></p></label>
     <label><p>วันเดินทางไป : <input type="text" name="goday" > </p></label>
     <label><p>วันเดินทางกลับ : <input type="text" name="backday" > </p></label>
     <label><p>งบประมาณ : <input type="text" name="money" > </p></label>
     
          <br><input type="file" name="file" accept="image/*"></p>
           
      

      <input type="submit" value="send" >
    </form>
  </div>
   <!-- <script>
    function Confirm(){
      if (!confirm("Are you sure?")){
        return false
      }
    }
  </script> -->

  <!-- <input type="file" name="file" accept="image/*">

<input type="submit" value="send" > -->
<!-- </form> -->
{% endblock %}
